<!--suppress HtmlFormInputWithoutLabel -->
<div class="container orange-boxed-container">

  <div class="row">
    <div class="col">
      <h2 class="card-title">
        <app-orange-title title="{{'new_subscription.titleStep2' | translate}}" iconClassName="fas fa-file-import">aaa</app-orange-title>
      </h2>
    </div>
  </div>

  <form [formGroup]="documentationForm">

    <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12">
        <!-- Default Account -->
        <div class="form-check form-check-inline">
          <input disabled class="form-check-input" type="checkbox" id="defaultAccount"
                 formControlName="defaultAccount" (change)="setDefault()">
          <label class="form-check-label" for="defaultAccount">{{'new_subscription.field.boton7' | translate}}</label>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-lg-10 col-md-10 col-sm-10">

        <div class="form-group">
          <label class="mandatory-field" for="idObverseDoc">{{'new_subscription.field.docObserve' | translate}}</label><label class="obligatory">{{'obligatory' | translate}}</label>
          <div class="input-group mb-1">
            <input type="file" class="hiddenFileInput" id="idObverseDoc" formControlName="idObverseDocHidden"
                   (change)="attachFile2Wallet('idObverseDoc', $event)"  #idObverseDoc>
            <input type="text" class="form-control mandatory-field" formControlName="idObverseDoc" (click)="idObverseDoc.click()" readonly="true">
            <span class="input-group-append" (click)="idObverseDoc.click()">
              <i class="icons fas fa-file-upload" title="Upload"></i>
            </span>
            <span class="input-group-append" (click)="resetFile('idObverseDoc')">
              <i class="icons fas fa-trash-alt" title="Delete"></i>
            </span>
          </div>
        </div>
        <app-validation-errors [control]="getFormControl('idObverseDoc')"></app-validation-errors>

        <div class="form-group">
          <label class="mandatory-field" for="idReverseDoc">{{'new_subscription.field.docReverse' | translate}}</label><label class="obligatory">{{'obligatory' | translate}}</label>
          <div class="input-group mb-1">
            <input type="file" class="hiddenFileInput" id="idReverseDoc" formControlName="idReverseDocHidden"
                   (change)="attachFile2Wallet('idReverseDoc', $event)" #idReverseDoc>
            <input type="text" class="form-control mandatory-field" formControlName="idReverseDoc" (click)="idReverseDoc.click()" readonly="true">
            <span class="input-group-append" (click)="idReverseDoc.click()">
              <i class="icons fas fa-file-upload" title="Upload"></i>
            </span>
            <span class="input-group-append" (click)="resetFile('idReverseDoc')">
              <i class="icons fas fa-trash-alt" title="Delete"></i>
            </span>
          </div>
        </div>
        <app-validation-errors [control]="getFormControl('idReverseDoc')"></app-validation-errors>

        <div class="form-group">
          <div *ngIf="subsOrder.wallet.accountLevel.toLowerCase()!==LEVELN3.toLowerCase()">
            <label class="mandatory-field" for="addressDoc">{{'new_subscription.field.docJustification' | translate}}</label>
          </div>
          <div *ngIf="subsOrder.wallet.accountLevel.toLowerCase()===LEVELN3.toLowerCase()">
            <label class="mandatory-field" for="addressDoc">{{'new_subscription.field.docJustification' | translate}}</label><label class="obligatory">{{'obligatory' | translate}}</label>
          </div>
          <div class="input-group mb-1">
            <input type="file" class="hiddenFileInput" id="addressDoc" formControlName="addressDocHidden"
                   (change)="attachFile2Wallet('addressDoc', $event)" #addressDoc>
            <input type="text" class="form-control mandatory-field" formControlName="addressDoc" (click)="addressDoc.click()" readonly="true">
            <span class="input-group-append" (click)="addressDoc.click()">
              <i class="icons fas fa-file-upload" title="Upload" [ngClass]="isN3Level"></i>
            </span>
            <span class="input-group-append" (click)="resetFile('addressDoc')">
              <i class="icons fas fa-trash-alt" title="Delete" [ngClass]="isN3Level"></i>
            </span>
          </div>
        </div>
        <app-validation-errors [control]="getFormControl('addressDoc')"></app-validation-errors>

        <div class="form-group">
          <label class="mandatory-field" for="contractDoc">{{'new_subscription.field.boxSigned' | translate}}</label><label class="obligatory">{{'obligatory' | translate}}</label>
          <div class="input-group mb-1">
            <input type="file" class="hiddenFileInput" id="contractDoc" formControlName="contractDocHidden"
                   (change)="attachFile2Wallet('contractDoc', $event)" #contractDoc>
            <input type="text" class="form-control mandatory-field" [disabled]="false"  formControlName="contractDoc" (click)="contractDoc.click()" readonly="true">
            <span class="input-group-append"   (click)="contractDoc.click()">
              <i class="icons fas fa-file-upload"  title="Upload"></i>
            </span>
            <span class="input-group-append" (click)="resetFile('contractDoc')">
              <i class="icons fas fa-trash-alt" title="Delete"></i>
            </span>
          </div>
        </div>
        <app-validation-errors [control]="getFormControl('contractDoc')"></app-validation-errors>

        <div class="form-group">
          <label for="otherDoc">{{'new_subscription.field.docOther' | translate}}</label>
          <div class="input-group mb-1">
            <input type="file" class="hiddenFileInput" id="otherDoc" formControlName="otherDocHidden"
                   (change)="attachFile2Wallet('otherDoc', $event)" #otherDoc>
            <input type="text" class="form-control mandatory-field" formControlName="otherDoc" (click)="otherDoc.click()" readonly="true">
            <span class="input-group-append" (click)="otherDoc.click()">
              <i class="icons fas fa-file-upload" title="Upload"></i>
            </span>
            <span class="input-group-append" (click)="resetFile('otherDoc')">
              <i class="icons fas fa-trash-alt"  title="Delete"></i>
            </span>
          </div>
        </div>

      </div>
    </div>

    <div class="row separate-row">
      <div class="col-lg-2 col-md-2">
      </div>
      <div class="col-lg-5 col-md-5 col-sm-12 centerButtons">
        <div *ngIf="!orderFrozen">
          <button type="button" [ngClass]="!contractPreviewed ? 'btn btn-primary btn-sm': 'btn btn-secondary btn-sm'" (click)="previewContract()">
            {{'new_subscription.field.boton1' | translate}}
          </button>
        </div>
        <div *ngIf="orderFrozen">
          <button class="btn btn-secondary btn-sm" (click)="unfreezeOrder()"> {{'new_subscription.field.modify' | translate}}</button>
        </div>
      </div>
      <div class="col-lg-5 col-md-5 col-sm-12 centerButtons">
        <button class="btn btn-primary btn-sm"
                [disabled]="!contractPreviewed || orderFrozen" (click)="generateContract()">
          {{'new_subscription.field.boton2' | translate}}
        </button>
      </div>
    </div>

    <div class="row">
      <div class="col-lg-2 col-md-2">
      </div>
      <div class="col-lg-5 col-md-5 col-sm-12 centerButtons">
        <button class="btn btn-secondary btn-sm" disabled (click)="saveOrder(true, false)"> {{'new_subscription.field.boton3' | translate}}</button>
        <button class="btn btn-secondary btn-sm" [disabled]="!documentsSave" (click)="gotoPrevious()"> {{'new_subscription.field.Previus' | translate}}</button>
      </div>
      <div class="col-lg-5 col-md-5 col-sm-12 centerButtons">
        <button class="btn btn-primary btn-sm" [disabled]="!contractUploaded || !documentsSave" (click)="sendContract()">
          {{'new_subscription.field.boton5' | translate}}
        </button>
        <button class="btn btn-danger btn-sm" (click)="cancelOrder()"> {{'new_subscription.field.cancel' | translate}}</button>
      </div>
    </div>
  </form>

</div>

<app-otp-validation [orderId]="orderId" [msisdn]="msisdn" [walletId]="walletId" [refId]="refId" (closed)="closeOtpModal()" *ngIf="showOtpModal"></app-otp-validation>
