.orange-boxed-container {
  margin-top: 10px;
  margin-bottom: 10px;
  border-style: solid;
  border-radius: 3px;
  border-width: 1px;
  border-color: lightgray;
  padding: 20px;
}

.orange-boxed-container label{
  margin-bottom: 0;
  font-size: smaller;
  color: black;
  font-weight: normal;
}

.backgrounded-row{
  padding: 5px;
  border-color: white;
  border-width: 5px;
  border-style: solid;
  background-color: #50be87;
}

.backgrounded-col{
  padding: 5px;
  border-color: white;
  border-style: solid;
  border-width: 5px;
  background-color: #ffb4e6;
}

.orange-boxed-container .card{
  border-color: lightgray;
  border-width: 1px;
  border-radius: 2px;
}

.card-body{
  padding-left: 30px;
  padding-right: 30px;
}

.card-title{
  margin-bottom: 30px;
}

.form-control{
  width: 400px;
  background-color: lightgray;
  margin-bottom: 10px;
  height: 30px;
  font-size: 13px;
}

.grayedIcon{
  color: whitesmoke;
}

.hiddenFileInput {
  display: none;
}

.form-group{
  margin-bottom: -10px;
}

.separate-row{
  margin-top: 30px;
}

.input-group-append{
  height: 30px;
}

.icons{
  margin-top: 5px;
  margin-left: 8px;
  margin-right: 0px;
  font-size: 20px;
}

input:disabled::-webkit-input-placeholder { /* WebKit browsers */
  color: lightgray;
}

input:disabled:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
  color: lightgray;
}

input:disabled::-moz-placeholder { /* Mozilla Firefox 19+ */
  color: lightgray;
}

input:disabled:-ms-input-placeholder { /* Internet Explorer 10+ */
  color: lightgray;
}

input:disabled {
  background-color: whitesmoke;
}

select:disabled {
  background-color: whitesmoke;
}

textarea:disabled{
  background-color: whitesmoke;
}

button:disabled{
  background-color: whitesmoke;
  color: lightgray;
}

.orange-boxed-container label.mandatory-field{
  color: #282929;
  font-weight: bold;
}

.orange-warning{
  color: darkorange;
  font-size: small;
  margin-top: -10px;
  margin-bottom: 10px;
}

label.obligatory {
  color: red !important;
  font-weight: bold !important;
  font-size: 18px !important;

}

@media screen and (min-width: 2560px) {
  .orange-boxed-container {
    max-width: 800px;
  }
  .orange-boxed-container .btn{
    width: 300px;
    height: 30px;
    margin-bottom: 10px;
  }
}

@media screen and (max-width: 2559px) and  (min-width: 1440px) {
  .orange-boxed-container {
    max-width: 800px;
  }
  .orange-boxed-container .btn{
    width: 300px;
    height: 30px;
    margin-bottom: 10px;
  }
}

@media screen and (max-width: 1439px) and (min-width: 1024px){
  .orange-boxed-container {
    max-width: 800px;
  }
  .orange-boxed-container .btn{
    width: 300px;
    height: 30px;
    margin-bottom: 10px;
  }
}

@media screen and (max-width: 1023px) and (min-width: 768px){
  .orange-boxed-container {
    max-width: 85%;
  }
  .orange-boxed-container .btn{
    width: 250px;
    height: 30px;
    margin-bottom: 10px;
  }
}

@media screen and (max-width: 767px){
  .orange-boxed-container {
    max-width: 85%;
  }
  .orange-boxed-container .btn{
    width: 100%;
    max-width: 355px;
    height: 30px;
    margin-bottom: 10px;
  }
  .centerButtons{
    text-align: center;
  }

  .input-group{
    flex-wrap: nowrap;
  }
  h2, .h2 {
    font-size: 0.8rem;
  }
}
@media screen and (max-width: 374px){
  h2, .h2 {
    font-size: 0.67rem;
  }
}
