<div *ngIf="step2Go && step2Go==='step1'">
  <app-upgradesp-step1 (step2Go)="gotoStep($event)" [updLevel]="upgradeLevel" [upgradeOrder]="upgradeOrder"></app-upgradesp-step1>
</div>

<div *ngIf="step2Go && step2Go==='step2'">
  <app-upgradesp-step2 (step2Go)="gotoStep($event)" [updLevel]="upgradeLevel" [upgradeOrder]="upgradeOrder"></app-upgradesp-step2>
</div>
