.orange-boxed-container {
  margin-top: 10px;
  margin-bottom: 10px;
  border-style: solid;
  border-radius: 3px;
  border-width: 1px;
  border-color: lightgray;
  padding: 20px;
}

.orange-boxed-container label{
  margin-bottom: 0;
  font-size: smaller;
  color: gray;
  font-weight: normal;
}

.orange-boxed-container span{
  overflow: hidden;
}

.backgrounded-row{
  padding: 5px;
  border-color: white;
  border-width: 5px;
  border-style: solid;
  background-color: #50be87;
}

.backgrounded-col{
  padding: 5px;
  border-color: white;
  border-style: solid;
  border-width: 5px;
  background-color: #ffb4e6;
}

.orange-boxed-container .card{
  border-color: lightgray;
  border-width: 1px;
  border-radius: 2px;
}

.orange-boxed-container .btn{
  width: 100%;
  max-width: 300px;
  height: 30px;
  margin-bottom: 10px;
}

.card-body{
  padding-left: 30px;
  padding-right: 30px;
}

.card-title{
  margin-bottom: 30px;
}

.form-control{
  width: 300px;
  height: 30px;
  background-color: whitesmoke;
  margin-bottom: 10px;
  font-size: 13px;
}

.left-margin{
  padding-left: 20px;
}

::placeholder{
  font-weight: normal;
}

input:disabled::-webkit-input-placeholder { /* WebKit browsers */
  color: lightgray;
}

input:disabled:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
  color: lightgray;
}

input:disabled::-moz-placeholder { /* Mozilla Firefox 19+ */
  color: lightgray;
}

input:disabled:-ms-input-placeholder { /* Internet Explorer 10+ */
  color: lightgray;
}

input:disabled {
  background-color: whitesmoke;
}

select:disabled {
  background-color: whitesmoke;
}

span.disabled {
  color: lightgray;
}

textarea:disabled{
  background-color: whitesmoke;
}

.color-orange{
  color: darkorange;
}

.right-line{
  border-right: 1px solid lightgray;
}

button:disabled{
  background-color: whitesmoke;
  color: lightgray;
}

.mandatory-field::placeholder{
  font-weight: bold;
  color: #282929;
}

.orange-boxed-container label.mandatory-field{
  color: #282929;
  font-weight: bold;
}

.orange-warning{
  color: darkorange;
  font-size: small;
  margin-top: -10px;
  margin-bottom: 10px;
}

.buttonRight{
  text-align: right;
}

.iconBox{
  display: flex;
}

.iconBox >div {
  margin-right: 3px;
}

.col-xs-8,
.col-sm-4,
.col-md-4,
.col-lg-4 {

  margin-right: 0 !important;
  margin-left: 0 !important;

}

@media screen and (min-width: 2560px) {
  .orange-boxed-container {
    max-width: 1200px;
  }
}

@media screen and (max-width: 2559px) and  (min-width: 1440px) {
  .orange-boxed-container {
    max-width: 1200px;
  }
}

@media screen and (max-width: 1439px) and (min-width: 1024px){
  .orange-boxed-container {
    max-width: 1000px;
  }
}

@media screen and (max-width: 1023px) and (min-width: 768px){
  .orange-boxed-container {
    max-width: 90%;
  }
  .orange-boxed-container .form-control{
    width: 250px;
  }
  .iconBox .icon{
    margin-left: -35px;
  }
}

@media screen and (max-width: 767px){
  .orange-boxed-container {
    max-width: 90%;
  }
  .orange-boxed-container .form-control{
    width: 100%;
  }
  .iconBox .icon{
    margin-left: -35px;
  }
  .centerFields{
    text-align: center;
  }
  h2, .h2 {
    font-size: 0.78rem;
  }
  .form-control {
    width: 100%;
  }
}

@media screen and (max-width: 374px){
  h2, .h2 {
    font-size: 0.62rem;
  }
}

