
form {
  margin-top: 4%;
}

.alert-danger {
  background-color: #483737;
}

.btnLogin{
  width: 300px;
  margin-bottom: 10px;
  font-size: 13px;
}

.pl-3 {
}

.text-muted {
}

.col-lg-6 .btn{
  width: 300px;
  height: 30px;
  margin-bottom: 10px;
}
#r:hover{
  background-color:black;
}

.btn-group-sm .btn{
  color: gray;
}

.form-control{
  width: 300px;
  background-color: lightgray;
  margin-bottom: 10px;
  font-size: 13px;
}
html{
  overflow: hidden
}
.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 5%;
  background-color: #000000;
  text-align: center;
}

.nav-item{
  color: #f9fbff;
  font-size: 10pt;
}

.container-miguel {
  margin-right: auto !important;
  margin-left: auto !important;
}

.form-signin {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: auto;
  margin-top: 2%;
}
