<div *ngIf="controlIsInvalid()" class="orange-error">
  <div *ngIf="control.errors.required">
    <span id="errorRequired">{{'form.error.required' | translate}}</span>
  </div>
  <div *ngIf="control.errors.pattern">
    <span id="errorNumberFormat">{{'form.error.onlyNumber' | translate}}</span>
  </div>
  <div *ngIf="control.errors.minlength">
    <span id="errorMsisdnLength">{{'form.error.phoneLenth' | translate}}</span>
  </div>
  <div *ngIf="control.errors.email">
    <span id="errorEmailFormat">{{'form.error.email' | translate}}</span>
  </div>
  <div *ngIf="control.errors.under18">
    <span id="errorUnder18">{{'form.error.age' | translate}}</span>
  </div>
  <div *ngIf="control.errors.expirationDate">
    <span id="errorExpirationDate">{{'form.error.expiration' | translate}}</span>
  </div>
  <div *ngIf="control.errors.dateInvalid">
    <span id="errorDateFormat">{{'form.error.date' | translate}}</span>
  </div>
  <div *ngIf="control.errors.NationalityOverIdType">
    <span id="errorNationalityVsIdType">{{'form.error.nationality' | translate}}</span>
  </div>
  <div *ngIf="control.errors.mustMatch">
    <span id="errorPasswordMismatch">{{'form.error.password' | translate}}</span>
  </div>
  <div *ngIf="control.errors.startWith0607">
    <span id="errorMsisdnStartWith0607">{{'form.error.start0607' | translate}}</span>
  </div>


</div>
