.orange-boxed-container {
  margin-top: 10px;
  margin-bottom: 10px;
  max-width: 1060px;
  border-style: solid;
  border-radius: 3px;
  border-width: 1px;
  border-color: lightgray;
  padding: 20px;

}

.card-title{
  margin-bottom: 30px;
}

a{
  float:right;
}

.icon{
  float:right;
  margin-top: 5px;
}

li{

  font-size:20px ;

}




