<div class="container orange-boxed-container">

  <div class="row">
    <div class="col-lg-12">
      <h2 class="card-title">
        <app-orange-title title="{{'vistaDocument.title' | translate}}" iconClassName="fas fa-book"></app-orange-title>
      </h2>
      <h4 class="card-subtitle mb-2 text-muted">
         Nº CONTRACT: {{numContract}}
      </h4>
    </div >

    <div class="col-lg-9 align-self-center">

      <ul *ngFor="let item of dataSource" >
        <li>
          {{item.documentName}}

          <span class="icon"><i  [ngClass]="item.gidOK ? 'far fa-check-square': 'far fa-square'"> </i> </span> <a (click)=" downloadFile(item) " class="icon" > <i class="icons fas fa-file-download" style="width: 35px; height: 25px;"></i> </a>

        </li>

      </ul>
    </div>

  </div>

  <div class="row">
    <div class="col-auto mr-auto"></div>
    <div class="col-auto"> <button  class="btn btn-primary btn-sm" [disabled]="!disabledIntgr" (click)="processIntegr()">{{'vistaDocument.btn.relaunch' | translate}}</button></div>
    <div class="col-auto"> <button  class="btn btn-primary btn-sm"   (click)="goback()"> {{'vistaDocument.btn.return' | translate}}  </button></div>
  </div>



</div>
