<ng-template #OTPModal let-modal>
  <div class="container">
    <div class="row">
      <div class="col">
        <h2 class="card-title">
          <app-orange-title title="{{'new_subscription.otp.title' | translate}}" iconClassName="fas fa-share-square"></app-orange-title>
        </h2>
      </div>
    </div>

    <form [formGroup]="OTPForm">
      <div class="row">
        <div class="col-lg-7 col-md-7 col-sm-12">
          <div class="form-group">
            <input type="text" class="form-control" formControlName="OTP" placeholder="OTP" [maxLength]="7">
          </div>
        </div>
        <div class="col-lg-5 col-md-5 col-sm-12">
          <button type="button" class="btn btn-secondary btn-sm" (click)="resendOTP()" [disabled]="resendLimit">{{'new_subscription.otp.resend' | translate}}</button>
        </div>
      </div>
      <div class="row">
        <div class="col-12" align="right">
          <button type="button" class="btn btn-secondary btn-sm" (click)="cancelOTP()">{{'new_subscription.otp.cancel' | translate}}</button>
          <button class="btn btn-primary btn-sm ml-3" (click)="validateOTP()" [disabled]="orderClosed">{{'new_subscription.otp.validate' | translate}}</button>
        </div>
      </div>
    </form>
  </div>
</ng-template>
