.orange-boxed-container {
  margin-top: 10px;
  margin-bottom: 10px;
  border-style: solid;
  border-radius: 3px;
  border-width: 1px;
  border-color: lightgray;
  padding: 30px;
}

.orange-boxed-container label{
  margin-bottom: 0;
  font-size: smaller;
  color: gray;
  font-weight: normal;
}

.orange-boxed-container .card{
  border-color: lightgray;
  border-width: 1px;
  border-radius: 2px;
}

.pinPad{
  margin-left: 25%;
}

.col-lg-6 .btn{
  width: 180px;
  height: 30px;
  margin-bottom: 10px;
  margin-left: 58px;
}

.card-body{
  padding-left: 30px;
  padding-right: 30px;
}

.card-title{
  margin-bottom: 30px;
}

.form-control{
  width: 100%;
  max-width: 300px;
  background-color: lightgray;
  margin-bottom: 10px;
  padding-left: 30px;
  font-size: 13px;
}

.form-control-file{
  width: 300px;
  background-color: lightgray;
  margin-bottom: 10px;
  height: 30px;
  font-size: 13px;
}

::placeholder{
  font-weight: normal;
}

input:disabled::-webkit-input-placeholder { /* WebKit browsers */
  color: lightgray;
}

input:disabled:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
  color: lightgray;
}

input:disabled::-moz-placeholder { /* Mozilla Firefox 19+ */
  color: lightgray;
}

input:disabled:-ms-input-placeholder { /* Internet Explorer 10+ */
  color: lightgray;
}

input:disabled {
  background-color: whitesmoke;
}

select:disabled {
  background-color: whitesmoke;
}

textarea:disabled{
  background-color: whitesmoke;
}

button:disabled{
  background-color: whitesmoke;
  color: lightgray;
}

.mandatory-field::placeholder{
  font-weight: bold;
  color: #282929;
}

.orange-boxed-container label.mandatory-field{
  color: #282929;
  font-weight: bold;
}

.orange-warning{
  color: darkorange;
  font-size: small;
  margin-top: -10px;
  margin-bottom: 10px;
}

::ng-deep .mat-progress-bar-fill::after {
  background-color: darkorange;
}

::ng-deep .mat-progress-bar-buffer {
  background: #E4E8EB;
}

::ng-deep .mat-progress-bar {
  border-radius: 2px;
}

.orange-boxed-container label.mandatory-field{
  color: #282929;
  font-weight: bold;
}

.input-group-append{
  height: 30px;
}

.hiddenFileInput {
  display: none;
}

.icons{
  margin-top: 5px;
  margin-left: 8px;
  margin-right: 0px;
  font-size: 20px;
}

label.obligatory {
  color: red !important;
  font-weight: bold !important;
  font-size: 18px !important;
}

@media screen and (min-width: 2560px) {
  .orange-boxed-container {
    max-width: 410px;
  }
}

@media screen and (max-width: 2559px) and  (min-width: 1440px) {
  .orange-boxed-container {
    max-width: 410px;
  }
}

@media screen and (max-width: 1439px) and (min-width: 1024px){
  .orange-boxed-container {
    max-width: 410px;
  }
}

@media screen and (max-width: 1023px) and (min-width: 768px){
  .orange-boxed-container {
    max-width: 410px;
  }
}

@media screen and (max-width: 767px){
  .orange-boxed-container {
    max-width: 90%;
  }
  h2, .h2 {
    font-size: 0.8rem;
  }
}
