<div class="container orange-boxed-container">
  <div class="row">
    <div class="col-lg-12">
      <h2 class="card-title">
        <app-orange-title title="{{'balance.title' | translate}}" iconClassName="fas fa-info-circle"></app-orange-title>
      </h2>
    </div>
  </div>

  <form [formGroup]="balanceForm">
    <div class="row">
      <div class="col-lg-12">

          <label class="mandatory-field" for="pin">{{'balance.field.pin' | translate}}</label><label class="obligatory">{{'obligatory' | translate}}</label>
          <input type="password" class="form-control mandatory-field" id="pin" formControlName="pin" value="{{pin}}">

          <div class="pinPad">
            <app-pin-pad (emitEvent)="setPinPad($event)" (clickButton) = "eventClickButton($event)" ></app-pin-pad>
          </div>

          <label *ngIf="consulted" class="mandatory-field">Balance</label>
          <input id="balance" *ngIf="consulted" type="text" [readOnly]="true" class="form-control mandatory-field" [value]="balanceForm.get('balance').value | number:'.2-2'" formControlName="balance">
      </div>
    </div>
    <div class="row">
      <div class="col-lg-6 col-md-6 col-sm-12">

          <br>
          <button id="btnBalance" *ngIf="!consulted" class="btn btn-primary btn-sm" (click)="consultBalance()">{{'balance.button.consult' | translate}}</button>
          <br>
          <button class="btn btn-secondary btn-sm" routerLink="/resercher">{{'button.back' | translate}}</button>

      </div>
    </div>

  </form>

</div>

