<!--suppress HtmlFormInputWithoutLabel -->
<div class="container orange-boxed-container">

  <div class="row">
    <div class="col-lg-12">
      <h2 class="card-title">
        <app-orange-title title="{{'new_subscription.field.contractPreview' | translate}}" iconClassName="fas fa-eye"></app-orange-title>
      </h2>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">

      <div class="container orange-boxed-container">
        <div class="row">
          <div class="col-lg-3 color-orange right-line">
            {{'new_subscription.field.titulo1' | translate}}
          </div>
          <div class="col-lg-4 col-md-6 col-sm-4 col-xs-8">
            <div class="form-group">

              <label class="mandatory-field" for="name">{{'new_subscription.field.name' | translate}}</label>
              <span class="form-control mandatory-field" id="name">
                {{client.name}}
              </span>

              <label class="mandatory-field" for="surname">{{'new_subscription.field.surname' | translate}}</label>
              <span class="form-control mandatory-field" id="surname">
                {{client.surname}}
              </span>

              <label class="mandatory-field" for="phone">{{'new_subscription.field.phoneNumber' | translate}}</label>
              <span class="form-control mandatory-field" id="phone">
                {{client.msisdn}}
              </span>

              <label class="mandatory-field" for="idType">{{'new_subscription.field.identificationType' | translate}}</label>
              <span class="form-control mandatory-field" id="idType">
                {{client.identityType.name}}
              </span>

              <label class="mandatory-field" for="identificationId">{{'new_subscription.field.clientId' | translate}}</label>
              <span class="form-control mandatory-field" id="identificationId">
                {{client.identificationId}}
              </span>

              <label class="mandatory-field" for="nationality">{{'new_subscription.field.nationality' | translate}}</label>
              <span class="form-control mandatory-field" id="nationality">
                {{client.nationality.name}}
              </span>

              <label class="mandatory-field" for="gender">{{'new_subscription.field.gender' | translate}}</label>
              <span class="form-control mandatory-field" id="gender">
                {{client.gender.name}}
              </span>

              <label class="mandatory-field" for="birthDate">{{'new_subscription.field.birthDate' | translate}}</label>
              <span class="form-control mandatory-field" id="birthDate">
                {{client.birthDate | date:'dd/MM/yyyy'}}
              </span>


            </div>
          </div>
          <div class="col-lg-4 col-md-6 col-sm-4 col-xs-8">
            <label class="mandatory-field" for="country">{{'new_subscription.field.country' | translate}}</label>
            <span class="form-control mandatory-field" id="country">
                {{client.address.entCountry.name}}
              </span>

            <label class="mandatory-field" for="postalCode">{{'new_subscription.field.postalCode' | translate}}</label>
            <span class="form-control mandatory-field" id="postalCode">
                {{client.address.entCodePostal}}
              </span>

            <label class="mandatory-field" for="address">{{'new_subscription.field.address' | translate}}</label>
            <span class="form-control mandatory-field" id="address">
                {{client.address.address}}
              </span>

            <label class="mandatory-field" for="email">Email</label>
            <span class="form-control mandatory-field" id="email">
                {{client.email}}
              </span>

            <label class="mandatory-field" for="profession">{{'new_subscription.field.profession' | translate}}</label>
            <span class="form-control mandatory-field" id="profession">
                {{client.profession.name}}
              </span>

            <label class="mandatory-field" for="expirationDate">{{'new_subscription.field.expirationDate' | translate}}</label>
            <span class="form-control mandatory-field" id="expirationDate">
                  {{wallet.expirationDate | date:'dd/MM/yyyy'}}
              </span>

            <label class="mandatory-field" for="profession">{{'new_subscription.field.salary' | translate}}</label>
            <span class="form-control mandatory-field" id="salary">
                {{client.salary.name}}
              </span>

          </div>

          </div>
      </div>

    </div>
  </div>

  <div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">

      <div class="container orange-boxed-container">
        <div class="row">
          <div class="col-lg-3 color-orange right-line">
            {{'new_subscription.field.titulo2' | translate}}
            <br>
           <span *ngIf="documents"> {{'new_subscription.field.titulo3' | translate}}  </span>
          </div>

          <div class="col-lg-4 col-md-6 col-sm-4 col-xs-8">
            <div class="form-group">

              <input type="checkbox" [ngModel]="order.wallet.defaultAccount" disabled>
              <span class="mandatory-field"> {{'new_subscription.field.boxDefault' | translate}}</span><br><br>

              <label class="mandatory-field" for="accountLevel">{{'new_subscription.field.accountLevel' | translate}}</label>
              <span class="form-control mandatory-field" id="accountLevel">
                  {{wallet.accountLevel}}
              </span>

              <label class="mandatory-field" for="sponsorCode">{{'new_subscription.field.sponsorCode' | translate}}</label>
              <span class="form-control mandatory-field" id="sponsorCode">
                  {{wallet.sponsorCode}}
              </span>

              <label class="mandatory-field" for="walletOpeningReasons">
                {{'new_subscription.field.openingReasons' | translate}}
              </label>
              <select multiple class="form-control" id="walletOpeningReasons" disabled>
                <option *ngFor="let item of wallet.walletOpeningReasons" value="{{item.openingReasonID}}">
                  {{item.name}}
                </option>
              </select>

            </div>
          </div>
          <div class="col-lg-4 col-md-6 col-sm-4 col-xs-8">
            <div *ngIf="documents">
                <div class="row">
                  <div class="col-lg-9">
                    <div class="form-group">
                      <br> <br>
                      <label class="mandatory-field" for="idObverseDoc">{{'new_subscription.field.docObserve' | translate}} </label>
                      <div class="iconBox">
                        <div>
                          <span class="form-control mandatory-field" id="idObverseDoc">
                              {{getDocumentName('idObverseDoc')}}
                          </span>
                        </div>
                        <div>
                          <a (click)=" downloadFile('idObverseDoc') " title="télécharger" class="icon" > <i class="icons fas fa-file-download" style="width: 35px; height: 25px;"></i> </a>
                        </div>

                      </div>

                      <label class="mandatory-field" for="idReverseDoc">{{'new_subscription.field.docReverse' | translate}}</label>
                      <div class="iconBox">
                        <div>
                            <span class="form-control mandatory-field" id="idReverseDoc">
                               {{getDocumentName('idReverseDoc')}}
                            </span>
                        </div>
                        <div>
                          <a (click)=" downloadFile('idReverseDoc') " title="télécharger" class="icon" > <i class="icons fas fa-file-download" style="width: 35px; height: 25px;"></i> </a>
                        </div>


                      </div>

                      <label class="mandatory-field" for="addressDoc">{{'new_subscription.field.docJustification' | translate}}</label>
                      <div class="iconBox">
                        <div>
                          <span class="form-control mandatory-field" id="addressDoc">
                             {{getDocumentName('addressDoc')}}
                          </span>
                        </div>
                        <div>
                          <a (click)=" downloadFile('addressDoc') " title="télécharger" class="icon" > <i class="icons fas fa-file-download" style="width: 35px; height: 25px;"></i> </a>
                        </div>

                      </div>

                      <label class="mandatory-field" for="otherDoc">{{'new_subscription.field.docOther' | translate}}</label>
                      <div class="iconBox">
                        <div>
                               <span class="form-control mandatory-field" id="otherDoc">
                                    {{getDocumentName('otherDoc')}}
                              </span>
                        </div>
                        <div>
                          <a (click)=" downloadFile('otherDoc') " title="télécharger" class="icon" > <i class="icons fas fa-file-download" style="width: 35px; height: 25px;"></i> </a>
                        </div>
                      </div>
                    </div>

                </div>

              </div>
            </div>
          </div>
        </div>

      </div>

    </div>

  </div>



  <form [formGroup]="previewForm">
    <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 centerFields" *ngIf="statusSeccion" >

        <input type="checkbox" formControlName="previewed" (change)="previewPushed()">
        <span [ngClass]="disabledClass"> {{'new_subscription.field.boxAceptation' | translate}}</span>
      </div>
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 buttonRight centerFields">
        <button type="button" [ngClass]="buttonClass" class="btn btn-sm" [disabled]="!checked" (click)="goBack()">{{'new_subscription.field.goBack' | translate}}</button>
      </div>
    </div>

    <div class="row">


    </div>
  </form>

</div>
