 

 <div *ngIf="menuDisabled" id="frameContainer" >
    <iframe  #iframe id="framePortal" allowtransparency="true" scrolling="no"></iframe>
  </div>
 


<header  role="banner">
  <nav  class="navbar navbar-expand-md navbar-dark bg-dark" role="navigation">
    <div  class="container-fluid">
      <a  *ngIf="!menuDisabled"  class="navbar-brand"  routerLink="/">

        <img src="assets/img/o_logo.png" alt="Back to homepage" title="Go to homepage"/>
 
      </a>

      <a  *ngIf="menuDisabled" class="navbar-brand"  >

         <img   />

      </a>
      <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#collapsing-navbarHead" aria-controls="collapsing-navbarHead" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div *ngxPermissionsOnly="[isPOS, isPOSOS, isChefAgence, isPOS_OM, isPOS_OM, isPOSOS_OM, isChefAgence_OM, isSupervisor, isHeadAgence, isReportingCentral]"
        class="mega-menu navbar-collapse collapse" id="collapsing-navbarHead" role="application">
        <ul class="navbar-nav mr-auto" role="menu" id="accordion">

          <!--Customer-->

          <li class="nav-item" role="presentation">
            <a *ngxPermissionsExcept="[isSupervisor, isReportingCentral]" class="nav-link collapsed newFont" href="#mega-level-1-collapse" data-toggle="collapse" data-target="#mega-level-1-collapse" aria-expanded="false" aria-haspopup="true" role="menuitem" id="Customer"><i class="fas fa-user-tie"></i> {{'menu.customer.title' | translate}}</a>
            <div *ngIf="!closeMenu" class="mega-menu-panel collapse paddingBot" id="mega-level-1-collapse" role="menu" style="" data-parent="#accordion">
              <div class="container">
                <ul class="navbar-nav">
                  <li class="nav-item paddingBot" role="presentation">
                    <a class="subtitulo"  role="menuitem" aria-controls="sub-title1" aria-expanded="false" aria-haspopup="true">{{'menu.customer.subtitle' | translate}}</a>
                    <ul class="navbar-nav" id="sub-title1" role="menu">
                      <li class="nav-item" role="presentation">
                        <a class="nav-link subMenu" (click)="redirect('/resercher')" data-toggle="collapse" href="#mega-level-1-collapse" role="menuitem" aria-expanded="false" aria-haspopup="true"><i class="fas fa-search"></i> {{'menu.customer.searchClient' | translate}}</a>
                        <!--<a class="nav-link subMenu" (click)="redirect('/subscription')" data-toggle="collapse" href="#mega-level-1-collapse" role="menuitem" aria-expanded="false" aria-haspopup="true"><i class="fas fa-wallet"></i> {{'menu.customer.newSubscription' | translate}}</a>
                        <a class="nav-link subMenu" (click)="redirect('/upgrade-subscription')" data-toggle="collapse" href="#mega-level-1-collapse" role="menuitem"  aria-expanded="false" aria-haspopup="true"><i class="fas fa-edit"></i> {{'menu.customer.upgrade' | translate}}</a>-->
                        <a class="nav-link subMenu marginBot disabled-{{!isDefaultWalletEnabled}}" (click)="redirect('/defaultWallet')" data-toggle="collapse" href="#mega-level-1-collapse" role="menuitem" aria-expanded="false" aria-haspopup="true" ><i class="far fa-check-square"></i> {{'menu.customer.makeDefault' | translate}}</a>
                        <a class="nav-link subMenu marginBot" (click)="redirect('/resercher')" data-toggle="collapse" href="#mega-level-1-collapse" role="menuitem" aria-controls="megamenu792094" aria-expanded="false" aria-haspopup="true"><i class="fas fa-arrow-down"></i>  {{'menu.agency.updateClient' | translate}}</a>
                      </li>
                    </ul>
                  </li>
                </ul>
                <a data-toggle="collapse" href="#mega-level-1-collapse" aria-expanded="false" aria-controls="mega-level-1-collapse" title="close shop menu" class="collapsed"><span class="svg-delete"></span></a>
              </div>
            </div>
          </li>

          <!--CASH-->

          <li *ngxPermissionsExcept="[isSupervisor, isReportingCentral]" class="nav-item" role="presentation">
            <a class="nav-link collapsed newFont" href="#mega-level-2-collapse" data-toggle="collapse" data-target="#mega-level-2-collapse" aria-expanded="false" aria-haspopup="true" role="menuitem" id="Cash"><i class="far fa-money-bill-alt"></i> {{'menu.cash.title' | translate}}</a>
            <div *ngIf="!closeMenu" class="mega-menu-panel collapse paddingBot" id="mega-level-2-collapse" role="menu" style="" data-parent="#accordion">
              <div class="container">
                <ul class="navbar-nav">
                  <li class="nav-item paddingBot" role="presentation">
                    <a class="subtitulo" role="menuitem" aria-controls="megamenu498784" aria-expanded="false" aria-haspopup="true">{{'menu.cash.subtitle' | translate}}</a>
                    <ul class="navbar-nav" id="megamenu498784" role="menu">
                      <li class="nav-item" role="presentation">
                        <a class="nav-link subMenu" (click)="redirect('/cashin')" data-toggle="collapse" href="#mega-level-2-collapse" id="cashIn" role="menuitem" aria-controls="megamenu792094" aria-expanded="false" aria-haspopup="true"><i class="fas fa-arrow-circle-down"></i> {{'menu.cash.in' | translate}}</a>
                      </li>
                      <li class="nav-item" role="presentation">
                        <a class="nav-link subMenu marginBot" (click)="redirect('/cashout')" data-toggle="collapse" href="#mega-level-2-collapse" id="cashOut" role="menuitem" aria-controls="megamenu792094" aria-expanded="false" aria-haspopup="true"><i class="fas fa-arrow-circle-up"></i> {{'menu.cash.out' | translate}}</a>
                      </li>
                    </ul>
                  </li>
                </ul>
                <a data-toggle="collapse" href="#mega-level-2-collapse" aria-expanded="false" aria-controls="mega-level-2-collapse" title="close shop menu" class="collapsed"><span class="svg-delete"></span></a>
              </div>
            </div>
          </li>

          <!--Agency-->
          <li *ngxPermissionsExcept="[isReportingCentral]" class="nav-item" role="presentation">
            <a class="nav-link collapsed newFont" href="#mega-level-3-collapse" data-toggle="collapse" data-target="#mega-level-3-collapse" aria-expanded="false" aria-haspopup="true" role="menuitem" id="Agency"><i class="far fa-address-card"></i> {{'menu.agency.title' | translate}}</a>
            <div *ngIf="!closeMenu" class="mega-menu-panel collapse paddingBot" id="mega-level-3-collapse" role="menu" style="" data-parent="#accordion">
              <div class="container">
                <ul class="navbar-nav">
                  <li class="nav-item paddingBot" role="presentation">
                    <a class="subtitulo"  role="menuitem" aria-controls="megamenu498784" aria-expanded="false" aria-haspopup="true">{{'menu.agency.subtitle' | translate}}</a>
                    <ul class="navbar-nav" id="megamenu498784" role="menu">
                      <li class="nav-item" role="presentation">
                        <a *ngxPermissionsExcept="[isSupervisor]" class="nav-link subMenu" (click)="redirect('/agencyBalance')" data-toggle="collapse" href="#mega-level-3-collapse" id="test" role="menuitem" aria-controls="megamenu792094" aria-expanded="false" aria-haspopup="true"><i class="fas fa-search-dollar"></i> {{'menu.agency.getBalance' | translate}}</a>
                     </li>
                      <li class="nav-item" role="presentation">
                        <a *ngxPermissionsExcept="[isSupervisor]" class="nav-link subMenu" (click)="redirect('/changePIN')" data-toggle="collapse" href="#mega-level-3-collapse" id="test" role="menuitem" aria-controls="megamenu792094" aria-expanded="false" aria-haspopup="true"><i class="fas fa-key"></i> {{'menu.agency.changePin' | translate}}</a>
                      </li>
                      <li class="nav-item" role="presentation">
                        <a *ngxPermissionsExcept="[isSupervisor]" class="nav-link subMenu" (click)="redirect('/listTransaction')" data-toggle="collapse" href="#mega-level-3-collapse" id="test" role="menuitem" aria-controls="megamenu792094" aria-expanded="false" aria-haspopup="true"><i class="fas fa-list-ol"></i> {{'menu.agency.listTransactions' | translate}}</a>
                      </li>
                      <li class="nav-item" role="presentation">
                        <a *ngxPermissionsExcept="[isSupervisor]" class="nav-link subMenu marginBot" (click)="redirect('/listTransactionTable')" data-toggle="collapse" href="#mega-level-3-collapse" id="test" role="menuitem" aria-controls="megamenu792094" aria-expanded="false" aria-haspopup="true"><i class="fas fa-list-ol"></i> {{'menu.agency.listTransactions.local' | translate}}</a>
                      </li>
                    </ul>
                  </li>
                </ul>
                <a data-toggle="collapse" href="#mega-level-3-collapse" aria-expanded="false" aria-controls="mega-level-3-collapse" title="close shop menu" class="collapsed"><span class="svg-delete"></span></a>
              </div>
            </div>
          </li>

          <!--Reports-->

          <li *ngxPermissionsExcept="[isSupervisor]" class="nav-item" role="presentation">
            <a class="nav-link collapsed newFont" href="#mega-level-4-collapse" data-toggle="collapse" data-target="#mega-level-4-collapse" aria-expanded="false" aria-haspopup="true" role="menuitem" id="report"><i class="fas fa-chart-bar"></i> {{'menu.report.title' | translate}}</a>
            <div *ngIf="!closeMenu" class="mega-menu-panel collapse paddingBot" id="mega-level-4-collapse" role="menu" style="" data-parent="#accordion">
              <div class="container">
                <ul class="navbar-nav">
                  <li class="nav-item paddingBot" role="presentation">
                    <a class="subtitulo"  role="menuitem" aria-controls="megamenu498784" aria-expanded="false" aria-haspopup="true">{{'menu.report.subtitle' | translate}}</a>
                    <ul class="navbar-nav" id="megamenu498784" role="menu">
                      <li class="nav-item" role="presentation">
                        <a class="nav-link subMenu" (click)="redirect('/listTransactionCash')" data-toggle="collapse" href="#mega-level-4-collapse" id="test" role="menuitem" aria-controls="megamenu792094" aria-expanded="false" aria-haspopup="true"><i class="fas fa-arrow-circle-down"></i> {{'menu.report.cash' | translate}}</a>
                      </li>
                    </ul>
                  </li>
                </ul>
                <a data-toggle="collapse" href="#mega-level-4-collapse" aria-expanded="false" aria-controls="mega-level-4-collapse" title="close shop menu" class="collapsed"><span class="svg-delete"></span></a>
              </div>
            </div>
          </li>

        </ul>

        <ul   *ngIf="!menuDisabled" class="navbar-nav">
          <li class="nav-item dropdown" role="presentation">
            <a href="#" class="nav-link dropdown-toggle active" data-toggle="dropdown" role="button" aria-haspopup="true">
              <span class="svg-avatar" aria-hidden="true"></span>
              <span class="logOutHover newFont">{{getUserName}} - {{getGroup}}</span>
            </a>
            <ul class="dropdown-menu dropdown-menu-right" role="menu">
              <li class="logout">
                <a class="nav-link newFont" (click)="logOut()">{{'menu.logout' | translate}}</a>
              </li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>
