
.container {
  margin-left: 8%
}

.newFont {
  font-size: 77.7%;
  color: white;
}

.logOutHover:hover{
  color:rgb(241, 110, 0);
}

.logout{
  background-color: black;
  padding: 5% 0;
  cursor: pointer;
}

#collapsing-navbarHead {
  margin-bottom: 0.2%;
}

.subMenu {
  margin-right: 85%;
  float: none !important;
}

.subtitulo{
  pointer-events: none !important;
  color: white !important;
  font-size: 1.25rem !important;
}

.marginBot{
  margin-bottom: 0 !important;
}

.paddingBot{
  padding-bottom: 0!important;
}

.disabled-true {
  pointer-events:none;
  opacity:0.6;
}

@media screen and (max-width: 767px){

  .mega-menu-panel > .container > .navbar-nav .navbar-nav{
    position: static;
    display: block;
  }
  .subMenu {
    margin-right: 0%;
  }
  .navbar-expand-md .mega-menu-panel > .container a[data-toggle="collapse"]{
    display: block;
    font-size: 15px;
  }
  .navbar-expand-md .mega-menu .nav-link[data-toggle="collapse"]::before{
   border-top: 0px;
  }
}

