
<div class="container orange-boxed-container">

  <div class="row">
    <div class="col-lg-12">
      <h2 class="card-title">
        <app-orange-title title="{{'cashin.title' | translate}}" iconClassName="fas fa-arrow-circle-down"></app-orange-title>
      </h2>
    </div>
  </div>


  <form [formGroup]="cashinForm">

    <!-- Second Column controls-->
    <div class="row">
      <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">

        <div class="form-group">
          <label class="mandatory-field" for="phone">{{'cashin.field.phone' | translate}}</label><label class="obligatory">{{'obligatory' | translate}}</label>
          <input type="text" [maxLength]="10" class="form-control mandatory-field" id="phone" oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*)\./g, '$1');"
                 formControlName="phone" (focus)="pinInputSelected(true)" to>
          <app-validation-errors [control]="getFormControl('phone')"></app-validation-errors>

          <label class="mandatory-field" for="identityType">{{'cashin.field.documentType' | translate}}</label><label class="obligatory">{{'obligatory' | translate}}</label>
          <select class="form-control" id="identityType" formControlName="identityType" >
            <option *ngFor="let item of identityTypes" value="{{item.identificationTypeID}}">
              {{item.name}}
            </option>
          </select>
          <app-validation-errors [control]="getFormControl('identityType')"></app-validation-errors>

          <label class="mandatory-field" for="clientID">{{'cashin.field.documentNumber' | translate}}</label><label class="obligatory">{{'obligatory' | translate}}</label>
          <input type="text" class="form-control mandatory-field" id="clientID"
                 formControlName="clientID" (focus)="pinInputSelected(true)">
          <app-validation-errors [control]="getFormControl('clientID')"></app-validation-errors>
        </div>

      </div>

      <!-- Second Column controls-->
      <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
        <label class="mandatory-field" for="amount">{{'cashin.field.amount' | translate}}</label><label class="obligatory">{{'obligatory' | translate}}</label>
        <input type="text" class="form-control" id="amount" formControlName="amount" (focus)="pinInputSelected(true)">
        <app-validation-errors [control]="getFormControl('amount')"></app-validation-errors>

        <label class="mandatory-field" for="pin">{{'cashin.field.pin' | translate}}</label><label class="obligatory">{{'obligatory' | translate}}</label>
        <input type="password" class="form-control mandatory-field" id="pin" formControlName="pin" value="{{pin}}" [readOnly]="true"
               (focus)="pinInputSelected(false)">
        <app-validation-errors [control]="getFormControl('pin')"></app-validation-errors>

        <div class="pinPad" [hidden]="pinFocus">
          <app-pin-pad (emitEvent)="setPinPad($event)" (clickButton) = "eventClickButton($event)" ></app-pin-pad>
        </div>

        <br>
      </div>
    </div>

    <!-- Buttons -->
    <div class="row bottomBtn">
      <div class="col-lg-6 col-md-6 col-sm-12">
      </div>
      <div class="col-lg-6 col-md-6 col-sm-12">
      <button *ngIf="orderIsClosed && withExternalID && !orderCancel " class="btn btn-primary btn-sm btnSubmit" (click)="generateContract()">{{'cashout.btn.printContract' | translate}}</button>
      <button *ngIf="!orderIsClosed" class="btn btn-primary btn-sm btnSubmit" (click)="execute()">{{'cashout.btn.execute' | translate}}</button>
      <button *ngIf="notRemoteOrder" [ngClass]="orderCancel ? 'btn btn-primary btn-sm btnSubmit': 'btn btn-secondary btn-sm btnSubmit'" (click)="resetForm()">{{'cashout.btn.reset' | translate}}</button>
      <button [ngClass]="(!orderCancel && orderIsClosed && !notRemoteOrder) ? 'btn btn-primary btn-sm btnSubmit': 'btn btn-secondary btn-sm btnSubmit'"  (click)="back()">{{'button.back' | translate}}</button>

      <!--Borrar-->

      <br>
      <button *ngIf="isLocalEnv" class="btn btn-secondary btn-sm btnSubmit" (click)="fillForm()">Fill</button>
    </div>
    </div>
  </form>



</div>

<!-- Cash IN popup -->

<ng-template #mixerCash let-modal>
  <div class="container">
    <div class="row">
      <div class="col">
        <h2 class="card-title">
          <app-orange-title title="{{'cashin.message.waitingCallback' | translate}}" iconClassName="fas fa-exclamation-triangle"></app-orange-title>
        </h2>
      </div>
    </div>

    <div class="row">
      <div class="col">
        <p *ngIf="!enableCloseBtn">{{'cashout.message.operationInProgress' | translate}}</p>
        <p *ngIf="enableCloseBtn">{{'cashout.message.operationCompleted' | translate}}</p>
      </div>
    </div>

    <br>
    <mat-progress-bar *ngIf="!enableCloseBtn" mode="indeterminate" [color]=""></mat-progress-bar>
    <mat-progress-bar *ngIf="enableCloseBtn" mode="determinate" value="100"[color]=""></mat-progress-bar>
    <br>
    <div class="row">
      <div class="col">
        <br>
        <button [disabled]="enableCloseBtn || orderIsClosed" class="btn btn-secondary btn-sm" style="alignment: left" (click)="save()">{{'cashout.btn.save' | translate}}</button>
      </div>
      <div class="col">
        <br>
        <button [disabled]="!enableRefresh || orderIsClosed" class="btn btn-primary btn-sm" style="alignment: left" (click)="refresh()">{{'cashout.btn.refresh' | translate}}</button>
      </div>
      <div class="col">
        <br>
        <button [disabled]="!enableVerifyBtn || orderIsClosed" class="btn btn-primary btn-sm" style="alignment: left"(click)="verify()">{{'cashin.btn.verify' | translate}}</button>
      </div>
      <div class="col">
        <br>
        <button [hidden]="!enableCloseBtn" class="btn btn-secondary btn-sm" style="alignment: left"(click)="close()">{{'cashout.btn.close' | translate}}</button>
      </div>
      <div class="col">
        <br>
        <button [hidden]="enableCloseBtn" class="btn btn-secondary btn-sm" style="alignment: left"(click)="cancel()">{{'cashout.btn.cancel' | translate}}</button>
      </div>

      <!-- TODO delete, only for testing -->
      <div class="col" *ngIf="isLocalEnv">
        <br>
        <button [disabled]="enableCloseBtn" class="btn btn-secondary btn-sm" style="alignment: left"(click)="callbackConfirmation()">CB Confirm</button>
      </div>
    </div>

  </div>


</ng-template>
