.orange-boxed-container {
  margin-top: 50px;
  margin-bottom: 10px;
}

.orange-boxed-container .card{
  border-color: lightgray;
  border-width: 0px;
  border-radius: 0px;
}

.orange-boxed-container .btn{
  width: 200px;
  height: 30px;
  margin-bottom: 10px;
}

.card-body{
  padding-left: 25px;
  padding-right: 25px;
}

.card-title{
  margin-bottom: 30px;
}

.form-control{
  width: 200px;
  background-color: lightgray;
  margin-bottom: 10px;
  font-size: 13px;
  height: 30px;
}

::placeholder{
  font-weight: normal;
}


.closeModal{
  text-align: right;
}

.fa-times-circle {
  position: absolute;
  top: 35px;
  right: 10px;
  cursor: pointer;
}
.sizeValidateModal{
  max-width: 660px;
}

.mandatory-field::placeholder{
  font-weight: bold;
  color: #282929;
}

.orange-boxed-container label.mandatory-field{
  color: #282929;
  font-weight: bold;
}

.orange-boxed-container label{
  margin-bottom: 0;
  font-size: smaller;
  color: gray;
  font-weight: normal;
}

label.obligatory {
  color: red !important;
  font-weight: bold !important;
  font-size: 18px !important;
}
html{
  overflow: hidden
}
.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 5%;
  background-color: #000000;
  text-align: center;
}

@media screen and (min-width: 2560px) {
  .orange-boxed-container {
    max-width: 600px;
  }
}

.nav-item{
  color: #f9fbff;
}

@media only screen and (min-width: 501px) {
  .box_icon {
    width: 26%;
    margin-left: 69%;
    -webkit-filter: blur(8px);
    filter: blur(0px);
    position: absolute;
    margin-top: -18%;
  }

  #background_image {
    position: fixed;
    top: 117px;
    text-align: center !important;
    /* Preserve aspet ratio */
    min-width: 100%;
    min-height: 100%;
  }
}

@media only screen and (max-width: 500px) {
  .box_icon {
    display: none;
  }

  #background_image {
    display: none;
  }
}




@media screen and (max-width: 2559px) and  (min-width: 1440px) {
  .orange-boxed-container {
    max-width: 600px;
  }

  .bodySearch{
    max-with:600px;
    height: 80%;
  }
}

@media screen and (max-width: 1439px) and (min-width: 1024px){
  .orange-boxed-container {
    max-width: 600px;
  }
  .bodySearch{
     max-with:600px;
     height: 72%;
  }
}

@media screen and (max-width: 1023px) and (min-width: 768px){
  .orange-boxed-container {
    max-width: 600px;
  }
  .bodySearch{
    max-with:600px;
    height: 72%;
  }
}

@media screen and (max-width: 767px){
  .orange-boxed-container {
    max-width: 90%;
  }
  .orange-boxed-container .btn{
    width: 100%;
    margin-top: 10px;
    margin-bottom: 0px;
  }
  .form-control{
    width: 100%;
  }
  h2, .h2 {
    font-size: 0.8rem;
  }

  .bodySearch{
    max-with:600px;
    height: 80%;
  }

}

.buttonback{
  float: right;
}
