<div class="bodySearch">


<div class="container orange-boxed-container shadow-lg p-3 mb-5 bg-white rounded" *ngIf="getClient()===undefined || !getSearched()">

  <div class="row">
    <div class="col-lg-12">
      <div class="card">
        <div class="card-body">

          <div class="row">
            <div class="col-lg-12">
              <h2 class="card-title">
                <app-orange-title title="{{'search.title' | translate}}"></app-orange-title>
              </h2>

              <img src="assets/img/client.png" class="box_icon">
            </div>
          </div>

          <form [formGroup]="searchClientForm">
            <div class="row">

              <div class="col-lg-6 col-sm-6">

                <label class="mandatory-field" for="msisdn">{{'search.field.phone' | translate}}</label>
                <input type="text" oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*)\./g, '$1');" class="form-control mandatory-field" id="msisdn" formControlName="msisdn" [maxLength]="10">
                <app-validation-errors [control]="getFormControl('msisdn')"></app-validation-errors>

                <label class="mandatory-field" for="idType">{{'search.field.documentType' | translate}}</label>
                <select class="form-control" id="idType" formControlName="idType">
                  <option *ngFor="let item of idTypes" value="{{item.value}}">
                    {{item.viewValue}}
                  </option>
                </select>
                <app-validation-errors [control]="getFormControl('idType')"></app-validation-errors>

                <label class="mandatory-field" for="identificationId">{{'search.field.documentNumber' | translate}}</label>
                <input type="text" class="form-control mandatory-field" id="identificationId" formControlName="identificationId" oninput="this.value = this.value.replace(/[^A-Za-z0-9]/g, '')">
                <app-validation-errors [control]="getFormControl('identificationId')"></app-validation-errors>

              </div>

              <div class="col-lg-6 col-sm-6 align-self-end">
                <button class="btn btn-secondary btn-sm" (click)="resetForm()">{{'search.btn.reset' | translate}}</button>
                <button id="searchButton" class="btn btn-primary btn-sm" (click)="processForm()">{{'search.btn.search' | translate}}</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>

</div>

<app-customer-card *ngIf="getClient()!==undefined && getSearched()" [client]="getClient()" [wallet]="getWallet()" [defaultWalletError]="defaultWalletError"></app-customer-card>

<!--<div *ngIf="getClient()===undefined && getSearched() && !errorTechnical" class="container orange-boxed-container shadow-lg p-3 mb-5 bg-white rounded">
  <div class="row">
    <div class="col-lg-12">
      <div class="card">
        <div class="card-body">

          <div class="row">
            <div class="col-lg-12">
              <h2 class="card-title">
                <app-orange-title title="{{'search.label.client.notExits' | translate}}" iconClassName="fas fa-exclamation-triangle"></app-orange-title>
              </h2>
            </div>
          </div>

          <div class="row">
            <div class="col-lg-12">
              <button id="createNewWalletButton" class="btn btn-primary btn-sm" (click)="gotoCreateNewWallet()">{{'search.btn.createNewWallet' | translate}}</button>
              <button class="btn btn-primary btn-sm buttonback" type="button" (click)="return()">{{'button.back' | translate}}</button>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>-->

</div>

<footer class="footer" role="contentinfo">
  <div class="o-footer-bottom">
    <div class="container-fluid">
      <ul class="nav">
      </ul>
    </div>
  </div>
</footer>
