<div class="container orange-boxed-container">

  <div class="table-responsive">
    <div class="card-body">

      <div class="row">
        <div class="col-lg-12">
          <h2 class="card-title">
            <app-orange-title title="{{'listTransations.menu.history' | translate}}" iconClassName="fas fa-search"></app-orange-title>
          </h2>
        </div>
      </div>

      <div class="example-table-container">
        <input matInput (keyup)="applyFilter($event.target.value)" placeholder="{{'listTransations.filter' | translate}}">

        <table mat-table [dataSource]="dataSource" matSort id="listOrderTable">

          <ng-container matColumnDef="updatedBy">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> <span>{{'listTransations.title.updatedDBy' | translate}}</span> </th>
            <td mat-cell *matCellDef="let element; let i = index;"  [ngClass]="{'highlight': i%2 == 1}"> {{element.updatedBy}} </td>
          </ng-container>

          <ng-container matColumnDef="ordStatus">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> <span>{{'listTransations.title.stat' | translate}}</span> </th>
            <td mat-cell *matCellDef="let element; let i = index;"  [ngClass]="{'highlight': i%2 == 1}"> {{element.ordStatus}} </td>
          </ng-container>

          <ng-container matColumnDef="ordSubStatus">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> <span>{{'listTransations.title.subStat' | translate}}</span> </th>
            <td mat-cell *matCellDef="let element; let i = index;"  [ngClass]="{'highlight': i%2 == 1}"> {{element.ordSubStatus}} </td>
          </ng-container>

          <ng-container matColumnDef="ordSubStatus2">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> <span>{{'listTransations.title.subStat2' | translate}}</span> </th>
            <td mat-cell *matCellDef="let element; let i = index;"  [ngClass]="{'highlight': i%2 == 1}"> {{element.ordSubStatus2}} </td>
          </ng-container>

          <ng-container matColumnDef="updatedDate" >
            <th mat-header-cell *matHeaderCellDef mat-sort-header> <span>{{'listTransations.title.updateDate' | translate}}</span> </th>
            <td mat-cell *matCellDef="let element; let i = index;"  [ngClass]="{'highlight': i%2 == 1}"> {{element.updatedDate}} </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

        </table>

        <mat-paginator class="pagination" [pageSize]="9" [pageSizeOptions]="[9, 15, 20]" showFirstLastButtons></mat-paginator>
        <button routerLink="/listTransaction" ngcontent-c17="" class="btn btn-primary btn-sm">{{'button.back' | translate}}</button>
      </div>
    </div>
  </div>
</div>
