.orange-boxed-container {
  margin-top: 10px;
  margin-bottom: 10px;
}

.orange-boxed-container .card{
  border-color: lightgray;
  border-width: 1px;
  border-radius: 2px;
}

.orange-boxed-container .btn{
  width: 150px;
  height: 30px;
  margin-bottom: 5px;
  margin-left: 5px;
}

.form-control {
  width: 250px;
}

textarea {
  height: 110px;
}

#buttonsBox{
  margin-top: 2.5%;
}

@media screen and (min-width: 2560px) {
  .orange-boxed-container {
    max-width: 855px;
  }
}

@media screen and (max-width: 2559px) and  (min-width: 1440px) {
  .orange-boxed-container {
    max-width: 855px;
  }
}

@media screen and (max-width: 1439px) and (min-width: 1024px){
  .orange-boxed-container {
    max-width: 855px;
  }
}

@media screen and (max-width: 1023px) and (min-width: 768px){
  .orange-boxed-container {
    max-width: 90%;
  }
  .orange-boxed-container .btn{
    width: 95px;
  }
}

@media screen and (max-width: 767px){
  .orange-boxed-container {
    max-width: 90%;
  }
  .orange-boxed-container .btn{
    width: 200px;
    margin-left: 0px;
  }
}

.expired{
  width: 102px !important;
  margin-left: 5px;
}

.expiredMsg{
  color: red;
  font-size: 10px;
  margin-bottom: -10px;
}
