<div class="container orange-boxed-container">

  <div class="row">
    <div class="col-lg-12">
      <h2 class="card-title">
        <app-orange-title title="{{'cashout.title' | translate}}" iconClassName="fas fa-arrow-circle-up"></app-orange-title>
      </h2>
    </div>
  </div>


  <form [formGroup]="cashoutForm">

      <!-- Second Column controls-->
      <div class="mb-4">

        <label class="mandatory-field" for="phone">{{'cashout.field.phone' | translate}}</label><label class="obligatory">{{'obligatory' | translate}}</label>
        <input type="text" [maxLength]="10" class="form-control mandatory-field" id="phone" oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*)\./g, '$1');"
               formControlName="phone" (focus)="pinInputSelected(true)">
        <app-validation-errors [control]="getFormControl('phone')"></app-validation-errors>

        <label class="mandatory-field" for="amount">{{'cashout.field.amount' | translate}}</label><label class="obligatory">{{'obligatory' | translate}}</label>
        <input type="text" class="form-control" id="amount" formControlName="amount" (focus)="pinInputSelected(true)">
        <app-validation-errors [control]="getFormControl('amount')"></app-validation-errors>

        <label class="mandatory-field" for="pin">{{'cashout.field.pin' | translate}}</label><label class="obligatory">{{'obligatory' | translate}}</label>
        <input type="password" [readOnly]="true" class="form-control mandatory-field" id="pin" formControlName="pin" value="{{pin}}"
               (focus)="pinInputSelected(false)">
        <app-validation-errors [control]="getFormControl('pin')"></app-validation-errors>

        <div class="pinPad" [hidden]="pinFocus">
          <app-pin-pad (emitEvent)="setPinPad($event)" (clickButton) = "eventClickButton($event)" ></app-pin-pad>
        </div>
      </div>

    <!-- Buttons -->
    <div class="bottomBtn">
      <button *ngIf="orderIsClosed && notRemoteOrder && !orderCancel " class="btn btn-primary btn-sm btnSubmit" (click)="generateContract()">{{'cashout.btn.printContract' | translate}}</button>
      <button *ngIf="!orderIsClosed" class="btn btn-primary btn-sm btnSubmit" (click)="execute()">{{'cashout.btn.execute' | translate}}</button>
      <button *ngIf="notRemoteOrder" [ngClass]="orderCancel ? 'btn btn-primary btn-sm btnSubmit': 'btn btn-secondary btn-sm btnSubmit'"  (click)="resetForm()">{{'cashout.btn.reset' | translate}}</button>
      <button  [ngClass]="(!orderCancel && orderIsClosed && !notRemoteOrder) ? 'btn btn-primary btn-sm btnSubmit': 'btn btn-secondary btn-sm btnSubmit'"(click)="back()">{{'button.back' | translate}}</button>

      <!--Borrar-->

      <br>
      <button *ngIf="isLocalEnv" class="btn btn-secondary btn-sm btnSubmit" (click)="fillForm()">Fill</button>
    </div>
  </form>



</div>



<!-- Cash OUT popup -->

<ng-template #mixerCash let-modal>
  <div class="container">
    <div class="row">
      <div class="col">
        <h2 class="card-title">
          <app-orange-title title="{{'cashout.popup.title' | translate}}" iconClassName="fas fa-exclamation-triangle"></app-orange-title>
        </h2>
      </div>
    </div>

    <div class="row">
      <div class="col">
        <p *ngIf="!enableCloseBtn">{{'cashout.message.operationInProgress' | translate}}</p>
        <p *ngIf="enableCloseBtn">{{'cashout.message.operationCompleted' | translate}}</p>
        <p *ngIf="!enableCloseBtn && verifyOk">{{'cashout.message.verifyOk' | translate}}</p>
      </div>
    </div>

    <br>
    <mat-progress-bar *ngIf="!enableCloseBtn" mode="indeterminate" [color]=""></mat-progress-bar>
    <mat-progress-bar *ngIf="enableCloseBtn" mode="determinate" value="100"[color]=""></mat-progress-bar>
    <br>
    <div class="row">
      <div class="col">
        <br>
        <button [disabled]="enableCloseBtn" class="btn btn-secondary btn-sm" style="alignment: left" (click)="save()">{{'cashout.btn.save' | translate}}</button>
      </div>
      <div class="col">
        <br>
        <button [disabled]="!enableRefresh" class="btn btn-primary btn-sm" style="alignment: left" (click)="refresh()">{{'cashout.btn.refresh' | translate}}</button>
      </div>
      <div class="col">
        <br>
        <button [disabled]="!enableVerifyBtn" class="btn btn-primary btn-sm" style="alignment: left"(click)="verify()">{{'cashout.btn.verify' | translate}}</button>
      </div>
      <div class="col">
        <br>
        <button [hidden]="!enableCloseBtn" class="btn btn-secondary btn-sm" style="alignment: left"(click)="close()">{{'cashout.btn.close' | translate}}</button>
      </div>
      <div class="col">
        <br>
        <button [hidden]="enableCloseBtn" class="btn btn-secondary btn-sm" style="alignment: left"(click)="cancel()">{{'cashout.btn.cancel' | translate}}</button>
      </div>

      <!-- TODO delete, only for testing -->
      <div class="col" *ngIf="isLocalEnv" >
        <br>
        <button class="btn btn-secondary btn-sm" style="width: 80%; alignment: left"(click)="callbackConfirmation()">CallBack Confirmation</button>
      </div>
    </div>

  </div>


</ng-template>
