<div class="container orange-boxed-container">

  <div class="table-responsive">
    <div class="card-body">

      <div class="row">
        <div class="col-lg-12">
          <h2 class="card-title">
            <app-orange-title title="{{'listTransations.menu' | translate}}" iconClassName="fas fa-search"></app-orange-title>
          </h2>
        </div>
      </div>


      <div class="example-table-container">

         <input matInput [(ngModel)]="valor" (keyup)="applyFilter($event.target.value)" placeholder="{{'listTransations.filter' | translate}}">

        <form class="date-block" [formGroup]="filterForm">
          <div class="boxForm">

          <div class="date-block__list">
            <mat-form-field>
              <input matInput
                     [matDatepicker]="fromDate"
                     placeholder="From Date"
                     formControlName="fromDate">
              <mat-datepicker-toggle matSuffix [for]="fromDate"></mat-datepicker-toggle>
              <mat-datepicker #fromDate></mat-datepicker>
            </mat-form-field>
          </div>
          <div class="date-block__list">
            <mat-form-field>
              <input matInput
                     [matDatepicker]="toDate"
                     placeholder="To Date"
                     formControlName="toDate">
              <mat-datepicker-toggle matSuffix [for]="toDate"></mat-datepicker-toggle>
              <mat-datepicker #toDate></mat-datepicker>
            </mat-form-field>
          </div>
            <div class="buttonForm"> <a (click)="getDateRange(filterForm.value)"  title="Filtrer"> <i class="icons fas fa-search filtroDate"></i> </a>  </div>
            <div class="buttonForm"> <a (click)="resetList()" title="Réinitialiser Liste"> <i class="icons fas fa-undo filtroDate"></i></a>  </div>

            <div class="buttonForm"> <a (click)="executeExport()"   title="Exporter Excel" *ngIf="visible"><i class="icons fas fa-file-excel excelbtn" ></i> </a> </div>

          </div>



        </form>

          <table mat-table [dataSource]="dataSource" matSort matSortStart="desc" id="listOrderTable">

            <ng-container matColumnDef="numContract">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> <span>Nº Contract</span> </th>
              <td mat-cell *matCellDef="let element; let i = index;"  [ngClass]="{'highlight': i%2 == 1}"> {{element.numContract}} </td>
            </ng-container>

            <ng-container matColumnDef="entEntity">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> <span>{{'listTransations.title.pos' | translate}}</span> </th>
              <td mat-cell *matCellDef="let element; let i = index;"  [ngClass]="{'highlight': i%2 == 1}"> {{element.entEntity}} </td>
            </ng-container>

            <ng-container matColumnDef="msisdn">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> <span>{{'listTransations.title.msisdn' | translate}}</span> </th>
              <td mat-cell *matCellDef="let element; let i = index;"  [ngClass]="{'highlight': i%2 == 1}"> {{element.msisdn}} </td>
            </ng-container>

            <ng-container matColumnDef="ordType">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> <span>{{'listTransations.title.type' | translate}}</span> </th>
              <td mat-cell *matCellDef="let element; let i = index;"  [ngClass]="{'highlight': i%2 == 1}"> {{element.ordType}} </td>
            </ng-container>

            <ng-container matColumnDef="ordCategory">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> <span>{{'listTransations.title.category' | translate}}</span> </th>
              <td mat-cell *matCellDef="let element; let i = index;"  [ngClass]="{'highlight': i%2 == 1}"> {{element.ordCategory}} </td>
            </ng-container>

            <ng-container matColumnDef="ordSubCategory">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> <span>{{'listTransations.title.subCategory' | translate}}</span> </th>
              <td mat-cell *matCellDef="let element; let i = index;"  [ngClass]="{'highlight': i%2 == 1}"> {{element.ordSubCategory}} </td>
            </ng-container>

            <ng-container matColumnDef="ordStatus">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> <span>{{'listTransations.title.stat' | translate}}</span> </th>
              <td mat-cell *matCellDef="let element; let i = index;"  [ngClass]="{'highlight': i%2 == 1}"> {{element.ordStatus}} </td>
            </ng-container>

            <ng-container matColumnDef="ordSubStatus">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> <span>{{'listTransations.title.subStat' | translate}}</span> </th>
              <td mat-cell *matCellDef="let element; let i = index;"  [ngClass]="{'highlight': i%2 == 1}"> {{element.ordSubStatus}} </td>
            </ng-container>

            <ng-container matColumnDef="ordSubStatus2">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> <span>{{'listTransations.title.subStat2' | translate}}</span> </th>
              <td mat-cell *matCellDef="let element; let i = index;"  [ngClass]="{'highlight': i%2 == 1}"> {{element.ordSubStatus2}} </td>
            </ng-container>

            <ng-container matColumnDef="updatedDate" >
              <th mat-header-cell *matHeaderCellDef mat-sort-header> <span>{{'listTransations.title.updateDate' | translate}}</span> </th>
              <td mat-cell *matCellDef="let element; let i = index;"  [ngClass]="{'highlight': i%2 == 1}"> {{element.updatedDate}} </td>
            </ng-container>

            <ng-container matColumnDef="actions">
              <th mat-header-cell *matHeaderCellDef> <span>{{'listTransations.title.actions' | translate}}</span> </th>
              <td mat-cell *matCellDef="let element; let i = index;"  [ngClass]="{'highlight': i%2 == 1}">
                <a (click)="edit(element.ordTypeId, element.ordrId, element.ordCategory)" title="Éditer"><i class="fas fa-edit editBtn"></i></a>
                <a (click)="view(element.ordTypeId, element.ordrId)" title="Informations"><i class="fas fa-info-circle editBtn"></i></a>
                <a (click)="goHistoryScreen(element.ordrId)" title="Historique"><i class="fas fa-history editBtn"></i></a>
              </td>
            </ng-container>

            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>

          </table>

          <mat-paginator [pageIndex]="currentPage" class="pagination" [pageSize]="10" [pageSizeOptions]="[10, 15, 20]" showFirstLastButtons></mat-paginator>
          <button *ngxPermissionsOnly="['Vendeur']" routerLink="/resercher" ngcontent-c17="" class="btn btn-primary btn-sm">{{'button.back' | translate}}</button>
      </div>
    </div>
  </div>
</div>
