@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';

table {
  width: 100%;
}

.orange-boxed-container {
  margin-top: 10px;
  margin-bottom: 10px;
  max-width: 90%;
}

.orange-boxed-container .card{
  border-color: lightgray;
  border-width: 1px;
  border-radius: 2px;
}

.orange-boxed-container .btn{
  width: 200px;
  height: 30px;
  margin-bottom: 10px;
}

.card-body{
  padding-left: 30px;
  padding-right: 30px;
}

div .card-title{
  margin-bottom: 30px;
  float: left;
}

.form-control{
  width: 200px;
  background-color: lightgray;
  margin-bottom: 10px;
  font-size: 13px;
  height: 30px;
}

::placeholder{
  font-weight: normal;
}

div .logo{
  float: right;
  margin-right: 30px;
  margin-top: 20px;

}


.mandatory-field::placeholder{
  font-weight: bold;
  color: #282929;
}

.orange-boxed-container label.mandatory-field{
  color: #282929;
  font-weight: bold;
}

.orange-boxed-container label{
  margin-bottom: 0;
  font-size: smaller;
  color: gray;
  font-weight: normal;
}

.editBtn {
  height: 1.7em !important;

}



.svg-inline--fa.fa-w-18 {
  width: 2.125em !important;
}

.svg-inline--fa.fa-w-16 {
  width: 2.125em !important;
}

.not-allowed:hover     { color: #ff6600 !important; }
.editBtn:hover     { color: #ff6600 !important; }
.excelbtn:hover     { color: #008800 !important; }


.highlight {
  background: #F6F0F3; /* green */
}

span {
  font-weight: bold;
  font-size: 12pt;
}

.mat-select-value {
  display: table-cell;
  max-width: 0;
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.boxForm{
  display: flex;
  margin-top: 10px;

}
.boxDate{
  width: 20%;
}
 .boxDate input{
   width: 40%;

  border:0;
  border-bottom: 1px solid lightgray;
  font-weight: lighter;
}
.date-block__list{
  flex-basis: 150px;
  margin-right: 65px;

}
.buttonForm{
  margin-top: 15px;

}

.filtroDate{
  width: 20px;
  height: 20px;
  margin: 0px;
}

.excelbtn{
  width: 25px;
  height: 25px;
  margin: 0px;
  margin-left: 30px;
  margin-bottom: 25px;
}

.mat-input-element::placeholder {
  color: black !important;
}

@media screen and (max-width: 767px){
  h2, .h2 {
    font-size: 0.8rem;
  }
}
