<div class="container orange-boxed-container">

  <div class="row">
    <div class="col-lg-12">
      <h2 class="card-title">
        <app-orange-title title="{{'expiredClient.title' | translate}}" iconClassName="fas fa-file-import"></app-orange-title>
      </h2>
    </div>
  </div>

  <form [formGroup]="expiredDateForm">

    <div class="col-lg-12 message" [hidden]="!validationError">
      {{'expiredClient.errorMsg.missingInfo' | translate}}
    </div>
    <div class="col-lg-12 message" [hidden]="!showErrorCRM">
      {{'expiredClient.errorMsg.errorCRM' | translate}}
    </div>
    <div class="col-lg-12 message" [hidden]="!showErrorDocuments">
      {{'expiredClient.errorMsg.errorDocs' | translate}}
    </div>

    <!-- Second Column controls-->
    <div class="row separate-row">
      <div class="col-lg-10 col-md-10 col-sm-10">

        <div class="form-group">
          <label class="mandatory-field" for="motif">{{'expiredClient.motifs' | translate}}</label><label class="obligatory">{{'obligatory' | translate}}</label>
          <select class="form-control" id="motif" formControlName="motif" (change)="enableDocs();">
            <option *ngFor="let item of motifTypes" value="{{item.reasonId}}">
              {{item.reasonName}}
            </option>
          </select>
          <app-validation-errors [control]="getFormControl('motif')"></app-validation-errors>
        </div>

        <div class="row separate-row"></div>
        <div *ngIf="orderCreated">
          <div class="form-group">

              <div *ngFor="let item of clientUpdateDocument" >

                  <label class="mandatory-field" for="idObverseDoc" *ngIf="item.documentType ==='idObverseDoc'">{{'new_subscription.field.docObserve' | translate}}</label>
                  <label class="mandatory-field" for="idReverseDoc" *ngIf="item.documentType ==='idReverseDoc'">{{'new_subscription.field.docReverse' | translate}}</label>
                  <label class="mandatory-field" for="addressDoc" *ngIf="item.documentType ==='addressDoc'">{{'new_subscription.field.docJustification' | translate}}</label>
                  <label class="mandatory-field" for="otherDoc" *ngIf="item.documentType ==='otherDoc'">{{'new_subscription.field.docOther' | translate}}</label>

                <div class="input-group mb-1">
                  <input type="text" class="form-control mandatory-field" formControlName="{{item.documentType}}" value="{{item.documentName}}" readonly="true">

                  <span (click)=" downloadFile(item) " class="input-group-append" >
                    <i class="icons fas fa-file-download" title="Download"></i>
                  </span>
                  <span class="input-group-append">
                    <i class="icons far fa-check-square" *ngIf="item.gidOK"> </i>
                    <i class="icons far fa-square" *ngIf="!item.gidOK"> </i>
                  </span>
                </div>
                <app-validation-errors [control]="getFormControl('idObverseDoc')"></app-validation-errors>
              </div>
          </div>
        </div>

        <div *ngIf="!orderCreated">

          <div class="form-group">
            <label class="mandatory-field" for="idObverseDoc">{{'new_subscription.field.docObserve' | translate}}</label>
            <div class="input-group mb-1">
              <input type="file" class="hiddenFileInput" id="idObverseDoc" formControlName="idObverseDocHidden"
                     (change)="attachFile2Wallet('idObverseDoc', $event)"  #idObverseDoc>
              <input type="text" class="form-control mandatory-field" formControlName="idObverseDoc" (click)="idObverseDoc.click()" readonly="true">
              <span class="input-group-append" (click)="idObverseDoc.click()">
                <i class="icons fas fa-file-upload" title="Upload"></i>
              </span>
              <span class="input-group-append" (click)="resetFile('idObverseDoc')">
                <i class="icons fas fa-trash-alt" title="Delete"></i>
              </span>
            </div>
          </div>
          <app-validation-errors [control]="getFormControl('idObverseDoc')"></app-validation-errors>


        <div class="form-group">
          <label class="mandatory-field" for="idReverseDoc">{{'new_subscription.field.docReverse' | translate}}</label>
          <div class="input-group mb-1">
            <input type="file" class="hiddenFileInput" id="idReverseDoc" formControlName="idReverseDocHidden"
                   (change)="attachFile2Wallet('idReverseDoc', $event)" #idReverseDoc>
            <input type="text" class="form-control mandatory-field" formControlName="idReverseDoc" (click)="idReverseDoc.click()" readonly="true">
            <span class="input-group-append" (click)="idReverseDoc.click()">
                <i class="icons fas fa-file-upload" title="Upload"></i>
              </span>
            <span class="input-group-append" (click)="resetFile('idReverseDoc')">
                <i class="icons fas fa-trash-alt" title="Delete"></i>
              </span>
          </div>
        </div>
        <app-validation-errors [control]="getFormControl('idReverseDoc')"></app-validation-errors>

        <div class="form-group" *ngIf="(levelWallet==='N3')">
          <label class="mandatory-field" for="addressDoc">{{'new_subscription.field.docJustification' | translate}}</label>
          <div class="input-group mb-1">
            <input type="file" class="hiddenFileInput" id="addressDoc" formControlName="addressDocHidden"
                   (change)="attachFile2Wallet('addressDoc', $event)" #addressDoc>
            <input type="text" class="form-control mandatory-field" formControlName="addressDoc" (click)="addressDoc.click()" readonly="true">
            <span class="input-group-append" (click)="addressDoc.click()">
              <i class="icons fas fa-file-upload" title="Upload" ></i>
            </span>
            <span class="input-group-append" (click)="resetFile('addressDoc')">
              <i class="icons fas fa-trash-alt" title="Delete"></i>
            </span>
          </div>
        </div>
        <app-validation-errors [control]="getFormControl('addressDoc')"></app-validation-errors>

        <div class="form-group">
          <label class="mandatory-field" for="otherDoc">{{'new_subscription.field.docOther' | translate}}</label>
          <div class="input-group mb-1">
            <input type="file" class="hiddenFileInput" id="otherDoc" formControlName="otherDocHidden"
                   (change)="attachFile2Wallet('otherDoc', $event)" #otherDoc>
            <input type="text" class="form-control mandatory-field" formControlName="otherDoc" (click)="otherDoc.click()" readonly="true">
            <span class="input-group-append" (click)="otherDoc.click()">
              <i class="icons fas fa-file-upload" title="Upload"></i>
            </span>
            <span class="input-group-append" (click)="resetFile('otherDoc')">
              <i class="icons fas fa-trash-alt"  title="Delete"></i>
            </span>
          </div>
        </div>
        <app-validation-errors [control]="getFormControl('otherDoc')"></app-validation-errors>

        </div>
      </div>

    </div>

    <div class="row separate-row">
      <div class="col-lg-3 col-md-3">
      </div>
      <div class="col-lg-5 col-md-5 col-sm-12 centerButtons">
        <button type="button" class="btn btn-primary btn-sm" (click)="sendOrder()" *ngIf="!orderCreated" [hidden]="orderClosed">{{'expiredClient.button.send' | translate}} </button>
        <button type="button" class="btn btn-primary btn-sm" (click)="reSendOrder()" *ngIf="orderCreated" [hidden]="orderClosed">{{'expiredClient.button.resend' | translate}} </button>
        <button class="btn btn-secondary btn-sm" (click)="returnBack()"> {{'expiredClient.button.previousPage' | translate}}</button>
        <button class="btn btn-danger btn-sm" (click)="cancel()" *ngIf="!orderCreated" [hidden]="orderClosed"> {{'expiredClient.button.annuler' | translate}}</button>
      </div>

    </div>

  </form>
</div>


