<div class="container orange-boxed-container">

  <div class="table-responsive">
    <div class="card-body">

      <div class="row">
        <div class="col-lg-12">
          <h2 class="card-title">
            <app-orange-title title="{{'listTransationsCash.menu' | translate}}" iconClassName="fas fa-search"></app-orange-title>
          </h2>
        </div>
      </div>


      <div class="example-table-container">

        <input matInput [(ngModel)]="valor" (keyup)="applyFilter($event.target.value)" placeholder="{{'listTransationsCash.filter' | translate}}">

        <form class="date-block" [formGroup]="filterForm">
          <div class="boxForm">

            <div class="date-block__list">
              <mat-form-field>
                <input matInput
                       [matDatepicker]="fromDate"
                       placeholder="A partir de"
                       formControlName="fromDate">
                <mat-datepicker-toggle matSuffix [for]="fromDate"></mat-datepicker-toggle>
                <mat-datepicker #fromDate></mat-datepicker>
              </mat-form-field>
            </div>
            <div class="date-block__list">
              <mat-form-field>
                <input matInput
                       [matDatepicker]="toDate"
                       placeholder="Jusqu'à"
                       formControlName="toDate">
                <mat-datepicker-toggle matSuffix [for]="toDate"></mat-datepicker-toggle>
                <mat-datepicker #toDate></mat-datepicker>
              </mat-form-field>
            </div>
            <div class="buttonForm"> <a (click)="getDateRange(filterForm.value)"  title="Filtrer"> <i class="icons fas fa-search filtroDate"></i> </a>  </div>
            <div class="buttonForm"> <a (click)="resetList()" title="Réinitialiser Liste"> <i class="icons fas fa-undo filtroDate"></i></a>  </div>

            <div class="buttonForm"> <a (click)="executeExport()"   title="Exporter Excel" *ngIf="visible"><i class="icons fas fa-file-excel excelbtn" ></i> </a> </div>

          </div>



        </form>

        <table mat-table [dataSource]="dataSource" matSort matSortStart="desc" id="listOrderTable">

          <ng-container matColumnDef="entity" *ngxPermissionsOnly="[isReportingCentral]">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> <span>{{'listTransationsCash.title.pos' | translate}}</span> </th>
            <td mat-cell *matCellDef="let element; let i = index;"  [ngClass]="{'highlight': i%2 == 1}"> {{element.entity}} </td>
          </ng-container>

          <ng-container matColumnDef="updateDate">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> <span>{{'listTransationsCash.title.updateDate' | translate}}</span> </th>
            <td mat-cell *matCellDef="let element; let i = index;"  [ngClass]="{'highlight': i%2 == 1}"><div style="font-size: 12px">{{element.updateDate}}</div> </td>
          </ng-container>

          <ng-container matColumnDef="type">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> <span>{{'listTransationsCash.title.type' | translate}}</span> </th>
            <td mat-cell *matCellDef="let element; let i = index;"  [ngClass]="{'highlight': i%2 == 1}"> {{element.type}} </td>
          </ng-container>

          <ng-container matColumnDef="status">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> <span>{{'listTransationsCash.title.stat' | translate}}</span> </th>
            <td mat-cell *matCellDef="let element; let i = index;"  [ngClass]="{'highlight': i%2 == 1}"> {{element.status}} </td>
          </ng-container>

          <ng-container matColumnDef="amount">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> <span>{{'listTransationsCash.title.amount' | translate}}</span> </th>
            <td mat-cell *matCellDef="let element; let i = index;"  [ngClass]="{'highlight': i%2 == 1}"> {{element.amount}} </td>
          </ng-container>

          <ng-container matColumnDef="tangoID">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> <span>{{'listTransationsCash.title.tangoID' | translate}}</span> </th>
            <td mat-cell *matCellDef="let element; let i = index;"  [ngClass]="{'highlight': i%2 == 1}"><div *ngIf="element.tangoID!=null &&(element.tangoID.startsWith('CI') || element.tangoID.startsWith('CO'))">{{element.tangoID}} </div> </td>
          </ng-container>

          <ng-container matColumnDef="orderID">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> <span>{{'listTransationsCash.title.orderID' | translate}}</span> </th>
            <td mat-cell *matCellDef="let element; let i = index;"  [ngClass]="{'highlight': i%2 == 1}" >{{element.orderID}}</td>
          </ng-container>

          <ng-container matColumnDef="compteClient">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> <span>{{'listTransationsCash.title.compteClient' | translate}}</span> </th>
            <td mat-cell *matCellDef="let element; let i = index;"  [ngClass]="{'highlight': i%2 == 1}"> {{element.compteClient}} </td>
          </ng-container>

          <ng-container matColumnDef="compteAgence">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> <span>{{'listTransationsCash.title.compteAgence' | translate}}</span> </th>
            <td mat-cell *matCellDef="let element; let i = index;"  [ngClass]="{'highlight': i%2 == 1}"> {{element.compteAgence}} </td>
          </ng-container>

          <ng-container matColumnDef="dealer" >
            <th mat-header-cell *matHeaderCellDef mat-sort-header> <span>{{'listTransationsCash.title.dealer' | translate}}</span> </th>
            <td mat-cell *matCellDef="let element; let i = index;"  [ngClass]="{'highlight': i%2 == 1}"> {{element.dealer}} </td>
          </ng-container>

          <ng-container matColumnDef="detail" >
            <th mat-header-cell *matHeaderCellDef mat-sort-header> <span>{{'listTransationsCash.title.detail' | translate}}</span> </th>
            <td mat-cell *matCellDef="let element; let i = index;"  [ngClass]="{'highlight': i%2 == 1}">
              <button *ngIf="element.detail" mat-raised-button data-toggle="modal" (click)="openModal($event, 'Detail', element.detail)">Show</button>
            </td>
          </ng-container>

          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>

        </table>

        <mat-paginator [pageIndex]="currentPage" class="pagination" [pageSize]="10" [pageSizeOptions]="[10, 15, 20]" showFirstLastButtons></mat-paginator>
        <button *ngxPermissionsOnly="['Vendeur']" routerLink="/resercher" ngcontent-c17="" class="btn btn-primary btn-sm">{{'button.back' | translate}}</button>
      </div>
    </div>
  </div>
</div>

