<div class="container">
  <h1 class="display-3"><i class="fas fa-ban"></i> {{'error.page.notAllowed.title' | translate}}</h1>
  <p>{{'error.page.notAllowed.subtitle' | translate}}</p>
  <button class="btn btn-lg btn-primary btn-block" (click)="goBack()">{{'error.page.btn.back' | translate}}</button>

</div>
