
.container{
  align-content: center;
  margin-top: 5%;
}

.btn{
  width: 12%;
  margin-bottom: 10px;
  font-size: 14px;
}

@media screen and (max-width: 1439px) and (min-width: 1024px){
  .btn{
    width: 20%;
  }
}
@media screen and (max-width: 1023px) and (min-width: 768px){
  .btn{
    width: 20%;
  }
}
@media screen and (max-width: 767px){
  .btn{
    width: 100%;
    max-width: 250px;
  }
}
