<div *ngIf="step2Go && step2Go==='step1'">
  <app-newsp-step1 (step2Go)="gotoStep($event)"></app-newsp-step1>
</div>

<div *ngIf="step2Go && step2Go==='step2'">
  <app-newsp-step2 (step2Go)="gotoStep($event)"></app-newsp-step2>
</div>
