<div class="container orange-boxed-container">

  <div class="row">
    <div class="col-lg-12">
      <h2 class="card-title">
        <app-orange-title title="{{'changePIN.title' | translate}}" iconClassName="fas fa-key"></app-orange-title>
      </h2>
    </div>
  </div>

  <form [formGroup]="changePINForm">
    <div class="row">
      <div class="col-lg-8 col-md-8 col-sm-12">

        <div class="form-group">

          <label class="mandatory-field" for="currentPin">{{'changePIN.field.current' | translate}}</label><label class="obligatory">{{'obligatory' | translate}}</label>
          <input type="password" class="form-control mandatory-field" id="currentPin" formControlName="currentPin" [readOnly]="true" (focus)="inputSelected('current')">
          <app-validation-errors [control]="getFormControl('currentPin')"></app-validation-errors>

          <label class="mandatory-field" for="newPin">{{'changePIN.field.new' | translate}}</label><label class="obligatory">{{'obligatory' | translate}}</label>
          <input type="password" class="form-control mandatory-field" id="newPin" formControlName="newPin" [readOnly]="true" (focus)="inputSelected('new')">
          <app-validation-errors [control]="getFormControl('newPin')"></app-validation-errors>

          <label class="mandatory-field" for="confirmNewPin">{{'changePIN.field.confirmNew' | translate}}</label><label class="obligatory">{{'obligatory' | translate}}</label>
          <input type="password" class="form-control mandatory-field" id="confirmNewPin"  formControlName="confirmNewPin" [readOnly]="true" (focus)="inputSelected('confirm')">
          <app-validation-errors [control]="getFormControl('confirmNewPin')"></app-validation-errors>

        </div>

      </div>
      <div class="col-lg-4 col-md-4 col-sm-12 centerPin">
        <app-pin-pad (emitEvent)="setPinPad($event)" (clickButton) = "eventClickButton($event)" ></app-pin-pad>
      </div>

    </div>
    <div class="row">
      <div class="col-lg-6 col-md-6 col-sm-12">

        <br>
        <button id="btnAccept" *ngIf="changePINForm.valid" class="btn btn-primary btn-sm" (click)="changePin()">{{'changePIN.button.change' | translate}}</button>
        <br>
        <button class="btn btn-secondary btn-sm" routerLink="/resercher">{{'button.back' | translate}}</button>
      </div>
    </div>

  </form>

</div>
