#frameContainer {
  position:relative;
  width:100%;
  height:100%;
  overflow: hidden;
  z-index: 1;
}

#framePortal {
  display: block;
  width: 100%;
  height:100%;
  border: none ;
  margin-bottom:4px;
}

.btn-primary:hover,
.btn-warning:hover,
.btn-warning:focus {
  color: #fff !important;
  background-color: #000 !important;
  border-color: #000 !important;
}

.btn-primary:focus{
  border-color: #f16e00 !important;
  background-color: #f16e00 !important;
}


@media screen and (max-width: 767px){
  .card-title{
    font-size: 1rem;
  }
}
