
<!--<div id="frameContainer" >
  <iframe id="framePortal" [src]="portal | safe" allowtransparency="true" scrolling="no" ></iframe>
</div>-->


<app-menu   [overMenu]="overMenu" [closeMenu]="closeMenu" (mouseover)="openmenu()" (mouseout)="closemenu()"></app-menu>

<router-outlet></router-outlet>



<ng-template #popupModal let-modal>
  <div class="container">
    <div class="row">
      <div class="col">
        <h2 class="card-title">
          <app-orange-title title="{{popupObj.title}}" iconClassName="{{popupObj.popupIconName}}"></app-orange-title>
        </h2>
      </div>
    </div>

    <div class="row">
      <div class="col">
        <p>{{popupObj.popupMessage}}</p>
        <p *ngIf="!popupObj.redirect"><button style="margin-left: 83%" class="btn btn-primary btn-sm" (click)="close()">Retour</button></p>
        <p *ngIf="popupObj.redirect"><button style="margin-left: 83%" class="btn btn-primary btn-sm" (click)="closeRedirect()">Retour</button></p>
      </div>
    </div>
  </div>
</ng-template>

<ng-template #mixer let-modal>
  <div class="container">
    <div class="row">
      <div class="col">
        <div class="d-flex align-items-center">
          <strong>{{mixerMessage}}</strong>
          <div class="spinner-border ml-auto text-primary" role="status" aria-hidden="true"></div>
        </div>
      </div>
    </div>
  </div>
</ng-template>
