.title-orange-underline{
  border-bottom: 3px solid;
  padding-bottom: 3px;
  border-bottom-color: darkorange;
}

.title-gray-underlined {
  border-bottom: 1px solid;
  padding-bottom: 5px;
  border-bottom-color: lightgray;
}
