<div class="container orange-boxed-container">

  <div class="row">
    <div class="col-lg-12">
      <h2 class="card-title">
        <app-orange-title title="{{'new_subscription.title' | translate}}" iconClassName="fas fa-wallet"></app-orange-title>
      </h2>
    </div>
  </div>

  <form [formGroup]="subscriptionForm">
    <div class="row">
      <div class="col-lg-4 col-md-4 col-sm-4 col-xs-8">

        <!-- First Column controls-->
        <div class="form-group">

          <label class="mandatory-field" for="msisdn">{{'new_subscription.field.phoneNumber' | translate}}</label><label class="obligatory">{{'obligatory' | translate}}</label>
          <input type="text" class="form-control mandatory-field" id="msisdn" [maxLength]="10" oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*)\./g, '$1');"
                 formControlName="msisdn" (change)="onChangeField()" [disabled]="disabledIfPOSIntegration">
          <app-validation-errors [control]="getFormControl('msisdn')"></app-validation-errors>

          <label class="mandatory-field" for="identityType">{{'new_subscription.field.identificationType' | translate}}</label><label class="obligatory">{{'obligatory' | translate}}</label>
          <select class="form-control" id="identityType" formControlName="identityType"
                  (change)="onChangeField(); updateIdType()" [disabled]="disabledIfPOSIntegration">
            <option *ngFor="let item of identityTypes" value="{{item.value}}">
              {{item.viewValue}}
            </option>
          </select>
          <app-validation-errors [control]="getFormControl('identityType')"></app-validation-errors>

          <label class="mandatory-field" for="identificationId">{{'new_subscription.field.clientId' | translate}}</label><label class="obligatory">{{'obligatory' | translate}}</label>
          <input type="text" class="form-control mandatory-field" id="identificationId" [maxLength]="14"
                 formControlName="identificationId" (change)="onChangeField()" oninput="this.value = this.value.replace(/[^A-Za-z0-9]/g, '')" [disabled]="disabledIfPOSIntegration">
          <app-validation-errors [control]="getFormControl('identificationId')"></app-validation-errors>
          <div class="orange-warning" *ngIf="customerHasBeenCheckedAndFailed">{{'new_subscription.elegible' | translate}}</div>

          <label class="mandatory-field" for="expirationDate">{{'new_subscription.field.expirationDate' | translate}}</label><label class="obligatory">{{'obligatory' | translate}}</label>
          <div class="calendar">
            <button  class="hideButton" [disabled]="disabledCalendar"  (click)="expirationDate.toggle()" ><i class="fas fa-calendar-alt"></i></button>
            <input class="form-control mandatory-field"
                   [minDate]="{day: (fechaActual.getDate()+1), month:(fechaActual.getMonth()+1), year:fechaActual.getFullYear()}" [maxDate]="{day: 31, month: 12, year: 2199}"
                   id="expirationDate" ngbDatepicker #expirationDate="ngbDatepicker" formControlName="expirationDate"
                   placeholder="dd-mm-yyyy" [maxLength]="10" oninput="this.value = this.value.replace(/[^0-9-]/g, '')">
          </div>
          <app-validation-errors [control]="getFormControl('expirationDate')"></app-validation-errors>

          <label class="mandatory-field" for="name">{{'new_subscription.field.name' | translate}}</label><label class="obligatory">{{'obligatory' | translate}}</label>
          <input type="text" class="form-control mandatory-field" (focusout)="upperCase()" formControlName="name" id="name" [maxLength]="80" oninput="this.value = this.value.replace(/[^A-Za-z ]/g, '')" >
          <app-validation-errors [control]="getFormControl('name')"></app-validation-errors>

          <label class="mandatory-field" for="surname">{{'new_subscription.field.surname' | translate}}</label><label class="obligatory">{{'obligatory' | translate}}</label>
          <input type="text" class="form-control mandatory-field" (focusout)="upperCase()" formControlName="surname" id="surname" [maxLength]="80" oninput="this.value = this.value.replace(/[^A-Za-z ]/g, '')">
          <app-validation-errors [control]="getFormControl('surname')"></app-validation-errors>

          <label class="mandatory-field" for="entCountry">{{'new_subscription.field.country' | translate}}</label><label class="obligatory">{{'obligatory' | translate}}</label>
          <select class="form-control" id="entCountry" formControlName="entCountry" (change)="updateContry()">
            <option *ngFor="let item of countries" value="{{item.value}}">{{item.viewValue}}</option>
          </select>
          <app-validation-errors [control]="getFormControl('entCountry')"></app-validation-errors>



        </div>

      </div>

      <!-- Second Column controls-->
      <div class="col-lg-4 col-md-4 col-sm-4 col-xs-8">
        <label class="mandatory-field" for="entVille">{{'new_subscription.field.city' | translate}}</label><label class="obligatory">{{'obligatory' | translate}}</label>
        <input type="text" class="form-control mandatory-field" formControlName="entVille" id="entVille" [maxLength]="30" oninput="this.value = this.value.replace(/[^A-Za-z ]/g, '')">
        <app-validation-errors [control]="getFormControl('entVille')"></app-validation-errors>

        <label class="mandatory-field" for="entCodePostal">{{'new_subscription.field.postalCode' | translate}}</label><label class="obligatory">{{'obligatory' | translate}}</label>
        <input type="text" oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*)\./g, '$1');" class="form-control mandatory-field" formControlName="entCodePostal" id="entCodePostal" [maxLength]="7">
        <app-validation-errors [control]="getFormControl('entCodePostal')"></app-validation-errors>

        <label class="mandatory-field" for="address">{{'new_subscription.field.address' | translate}}</label><label class="obligatory">{{'obligatory' | translate}}</label>
        <textarea class="form-control mandatory-field" id="address" rows="3" maxlength="50" oninput="this.value = this.value.replace(/[^A-Za-z0-9 ]/g, '')"
                  formControlName="address"></textarea>
        <app-validation-errors [control]="getFormControl('address')"></app-validation-errors>

        <label class="mandatory-field" for="profession">{{'new_subscription.field.profession' | translate}}</label><label class="obligatory">{{'obligatory' | translate}}</label>
        <select class="form-control" id="profession"
                formControlName="profession" (change)="updateProfession()">
          <option *ngFor="let item of professions" value="{{item.value}}">
            {{item.viewValue}}
          </option>
        </select>
        <app-validation-errors [control]="getFormControl('profession')"></app-validation-errors>

        <label class="mandatory-field" for="nationality">{{'new_subscription.field.nationality' | translate}}</label><label class="obligatory">{{'obligatory' | translate}}</label>
        <select class="form-control" id="nationality"
                formControlName="nationality" (change)="updateNationality()">
          <option *ngFor="let item of nationalities" value="{{item.value}}">
            {{item.viewValue}}
          </option>
        </select>
        <app-validation-errors [control]="getFormControl('nationality')"></app-validation-errors>

        <label class="mandatory-field" for="gender">{{'new_subscription.field.gender' | translate}}</label><label class="obligatory">{{'obligatory' | translate}}</label>
        <select class="form-control" id="gender"
                formControlName="gender" (change)="updateGender()">
          <option *ngFor="let item of GENDERS" value="{{item.value}}">
            {{item.viewValue}}
          </option>
        </select>
        <app-validation-errors [control]="getFormControl('gender')"></app-validation-errors>

        <label class="mandatory-field" for="birthdate">{{'new_subscription.field.birthDate' | translate}}</label><label class="obligatory">{{'obligatory' | translate}}</label>
        <div class="calendar">
          <button class="hideButton" [disabled]="disabledCalendar" (click)="birthDate.toggle()"><i class="fas fa-calendar-alt"></i></button>
          <input type="text" class="form-control mandatory-field"
                 [minDate]="{day: 1, month: 1, year: 1900}" [maxDate]="{day: (fechaActual.getDate()), month:(fechaActual.getMonth()+1), year:fechaActual.getFullYear()}"
                 id="birthdate" ngbDatepicker #birthDate="ngbDatepicker" (ngModelChange)="checkAge()"
                 (focusout)="isFocusOut()" (focus)="isFocus()" formControlName="birthDate" placeholder="dd-mm-yyyy"
                 [maxLength]="10" oninput="this.value = this.value.replace(/[^0-9-]/g, '')">
        </div>
        <app-validation-errors [control]="getFormControl('birthDate')" [focusOut]="focusOut" ></app-validation-errors>





      </div>

      <div class="col-lg-4 col-md-4 col-sm-4 col-xs-8">
        <!-- Third Column -->
        <label class="mandatory-field" for="accountLevel">{{'new_subscription.field.accountLevel' | translate}}</label><label class="obligatory">{{'obligatory' | translate}}</label>
        <select class="form-control" id="accountLevel" formControlName="accountLevel">
          <option *ngFor="let item of ACCOUNT_LEVELS" value="{{item.value}}">
            {{item.viewValue}}
          </option>
        </select>
        <app-validation-errors [control]="getFormControl('accountLevel')"></app-validation-errors>

        <label class="mandatory-field" for="email">{{'new_subscription.field.email' | translate}}</label>
        <input type="email" class="form-control" id="email" formControlName="email" oninput="this.value = this.value.replace(/[^A-Za-z0-9@.]/g, '')">
        <app-validation-errors [control]="getFormControl('email')"></app-validation-errors>

        <label class="mandatory-field" for="sponsorCode">{{'new_subscription.field.sponsorCode' | translate}}</label>
        <input type="text" class="form-control" id="sponsorCode" formControlName="sponsorCode" oninput="this.value = this.value.replace(/[^A-Za-z0-9 ]/g, '')">

        <label class="mandatory-field" for="walletOpeningReasons">{{'new_subscription.field.openingReasons' | translate}}</label><label class="obligatory">{{'obligatory' | translate}}</label>
        <select multiple class="form-control" id="walletOpeningReasons"
                formControlName="walletOpeningReasons">
          <option *ngFor="let item of walletOpeningReasons" value="{{item.value}}">
            {{item.viewValue}}
          </option>
        </select>
        <app-validation-errors [control]="getFormControl('walletOpeningReasons')"></app-validation-errors>

        <label class="mandatory-field" for="salary">{{'new_subscription.field.salary' | translate}}</label><label class="obligatory">{{'obligatory' | translate}}</label>
        <select class="form-control" id="salary"
                formControlName="salary" (change)="updateSalary()">
          <option *ngFor="let item of salarys" value="{{item.value}}">
            {{item.viewValue}}
          </option>
        </select>
        <app-validation-errors [control]="getFormControl('salary')"></app-validation-errors>


      </div>

    </div>
    <div class="row">
      <div class="boxButton">

          <!--<button type="button" class="btn btn-secondary btn-sm" [disabled]="!this.subscriptionForm.valid && controlValue && !this.sOrder.contractGenerated" (click)="saveOrder(true)">{{'new_subscription.btn.save' | translate}}</button>-->
          <button type="button" class="btn btn-secondary btn-sm" disabled (click)="saveOrder(true)">{{'new_subscription.btn.save' | translate}}</button>

          <button type="button" class="btn btn-danger btn-sm" (click)="cancel()">Annuler</button>

          <button type="button" [disabled]="!this.subscriptionForm.valid && controlValue && !this.sOrder.contractGenerated" class="btn btn-primary btn-sm"  (click)="gotoStep2()">{{'new_subscription.btn.nextPage' | translate}}</button>




        <!--<button *ngIf="isLocalEnv" class="btn btn-secondary btn-sm" (click)="fillForm()">Fill</button>-->

      </div>

    </div>

  </form>

</div>
