<h2>Index</h2>
<ul>
  <li>
    <a id="searchClient" routerLink="/resercher">{{ 'home.link.resercher' | translate }}</a>
  </li>
  <li>
    <a id="subscription" routerLink="/subscription">{{ 'home.link.subscription' | translate }}</a>
  </li>
  
  <li>
    <a routerLink="/listTransaction">List Transactions</a>
  </li>
  <li>
    <a routerLink="/listTransactionTable">List Transactions Agence</a>
  </li>
  <li>
    <a routerLink="/listTransactionHistory">List Transactions History</a>
  </li>
  <li>
    <a routerLink="/cashin">Cash IN</a>
  </li>
  <li>
    <a routerLink="/cashout">Cash OUT</a>
  </li>
  <li>
    <a id="agencyBalance" routerLink="/agencyBalance">Agency Balance</a>
  </li>
  <li>
    <a id="changePIN" routerLink="/changePIN">Change PIN</a>
  </li>
  <li>
    <a id="makeDefault" routerLink="/defaultWallet">Make default</a>
  </li>
  <li>
    <a id="upgrade" routerLink="/upgrade-subscription">Upgrade</a>
  </li>
  <li>
    <a id="login" routerLink="/login">Login</a>
  </li>
  <li>
    <a id="menu" routerLink="/menu">Menu</a>
  </li>
</ul>
