<div class="container">
  <h1 class="display-3"><i class="far fa-question-circle"></i> {{'error.page.notFound.title' | translate}}</h1>
  <p>{{'error.page.notFound.subtitle' | translate}}</p>
  <button class="btn btn-lg btn-primary btn-block" (click)="goBack()">{{'error.page.btn.back' | translate}}</button>
</div>
