.orange-boxed-container {
  margin-top: 10px;
  margin-bottom: 10px;
  max-width: 85%;
  border-style: solid;
  border-radius: 3px;
  border-width: 1px;
  border-color: lightgray;
  padding: 20px;
}

.orange-boxed-container label{
  margin-bottom: 0;
  font-size: smaller;
  color: gray;
  font-weight: normal;
}

.backgrounded-row{
  padding: 5px;
  border-color: white;
  border-width: 5px;
  border-style: solid;
  background-color: #50be87;
}

.backgrounded-col{
  padding: 5px;
  border-color: white;
  border-style: solid;
  border-width: 5px;
  background-color: #ffb4e6;
}

.orange-boxed-container .card{
  border-color: lightgray;
  border-width: 1px;
  border-radius: 2px;
}

.orange-boxed-container .btn{
  width: 300px;
  height: 30px;
  margin-bottom: 10px;
}

.card-body{
  padding-left: 30px;
  padding-right: 30px;
}

.card-title{
  margin-bottom: 30px;
}

.form-control{
  width: 300px;
  background-color: lightgray;
  margin-bottom: 10px;
  font-size: 13px;
}

::placeholder{
  font-weight: normal;
  opacity: 0.5;
}

input:disabled::-webkit-input-placeholder { /* WebKit browsers */
  color: lightgray;
}

input:disabled:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
  color: lightgray;
}

input:disabled::-moz-placeholder { /* Mozilla Firefox 19+ */
  color: lightgray;
}

input:disabled:-ms-input-placeholder { /* Internet Explorer 10+ */
  color: lightgray;
}

input:disabled {
  background-color: whitesmoke;
}

select:disabled {
  background-color: whitesmoke;
}

textarea:disabled{
  background-color: whitesmoke;
}

button:disabled{
  background-color: transparent;
  color: lightgray;
}

.mandatory-field::placeholder{
  font-weight: bold;
  color: #282929;
}

.orange-boxed-container label.mandatory-field{
  color: #282929;
  font-weight: bold;
}

.orange-warning{
  color: darkorange;
  font-size: small;
  margin-top: -10px;
  margin-bottom: 10px;
  margin-left: 15px !important;
}

label.obligatory {
  color: red !important;
  font-weight: bold !important;
  font-size: 18px !important;
}

.calendar {
  position: relative;
  font-size: 22px;

  margin-top: -25px;
}

@media screen and (min-width: 2300px) {
  .fa-calendar-alt {
    position: absolute;
    top: 35px;
    right: 100px;
    cursor: pointer;
  }
  .boxButton{
    margin-top: 20px !important;
    width: 40% !important;
    display: flex;
    margin-left: 61%;
  }
}

@media screen and (max-width: 2299px) and  (min-width: 1440px) {
  .fa-calendar-alt {
    position: absolute;
    top: 35px;
    right: 85px;
    cursor: pointer;
  }
  .boxButton{
    margin-top: 20px !important;
    width: 40% !important;
    display: flex;
    margin-left: 60%;
  }
}

@media screen and (max-width: 1439px) and (min-width: 1024px){
  .fa-calendar-alt {
    position: absolute;
    top: 35px;
    right: 55px;
    cursor: pointer;
  }
  .boxButton{
    margin-top: 20px !important;
    width: 40% !important;
    display: flex;
    margin-left: 60%;
  }
}

@media screen and (max-width: 1023px) and (min-width: 768px){
  .fa-calendar-alt {
    position: absolute;
    top: 36px;
    right: 36px;
    cursor: pointer;
  }
  .boxButton{
    margin-top: 20px !important;
    width: 55% !important;
    display: flex;
    margin-left: 45%;
  }
}

@media screen and (max-width: 767px){
  .fa-calendar-alt {
    position: absolute;
    top: 35px;
    right: 40px;
    cursor: pointer;
  }
  .boxButton{
    margin-top: 20px !important;
    margin-left: 60px;
    width: 50%;
  }

  .boxButton > button{
    margin-top: 20px !important;
    width: 100% !important;
    display: flex;
  }

  h2, .h2 {
    font-size: 0.8rem;
  }


}

.hideButton{
  color: darkorange;

  width: 0px !important;
  height: 0px;
  border: none;
}

button{
  width: 35% !important;
  margin-left: 10px !important;
}

.col-xs-8,
.col-sm-4,
.col-md-4,
.col-lg-4 {

  margin-right: 0 !important;
  margin-left: 0 !important;

}

input, select, textarea{
  width: 85% !important;
  margin-left: 15px !important;

}

label{
  margin-left: 15px !important;
}

.expired{
  width: 102px !important;
}

.expiredMsg{
  color: red !important;
  font-size: 10px !important;
  margin-top: -7px !important;
  margin-left: 16px !important;
  margin-bottom: 0px !important;
}

