<div class="container orange-boxed-container">

  <div class="row">
    <div class="col-lg-12">
      <div class="card">
        <div class="card-body">

          <div class="row">
            <div class="col-lg-12">
              <h2 class="card-title">
                <app-orange-title title="{{'listTransations.client.title' | translate}}" iconClassName="fas fa-search"></app-orange-title>
              </h2>
            </div>
          </div>

          <form [formGroup]="clientForm">
            <div class="row">

              <div class="col-lg-6 col-sm-6">

                <label class="mandatory-field" for="msisdn">{{'search.field.phone' | translate}}:</label>
                <input type="text" class="form-control mandatory-field" id="msisdn" formControlName="msisdn" [maxLength]="10">
                <app-validation-errors [control]="getFormControl('msisdn')"></app-validation-errors>

                <label class="mandatory-field" for="pin">{{'cashin.field.pin' | translate}}</label>
                <input type="password" class="form-control mandatory-field" id="pin" formControlName="pin" value="{{pin}}">
                <app-validation-errors [control]="getFormControl('pin')"></app-validation-errors>

                <div class="btn-toolbar mb-3" role="toolbar" style="width: 800px">
                  <div class="btn-group-sm" role="group">

                    <button type="button" class ="btn btn-outline-light btnPin" (click)="fillPIN(pinNumbers[0].value, pinNumbers[0].viewValue)">{{pinNumbers[0].viewValue}}</button>
                    <button type="button" class ="btn btn-outline-light btnPin" (click)="fillPIN(pinNumbers[1].value, pinNumbers[1].viewValue)">{{pinNumbers[1].viewValue}}</button>
                    <button type="button" class ="btn btn-outline-light btnPin" (click)="fillPIN(pinNumbers[2].value, pinNumbers[2].viewValue)">{{pinNumbers[2].viewValue}}</button>
                    <button type="button" class ="btn btn-outline-light btnPin" (click)="fillPIN(pinNumbers[3].value, pinNumbers[3].viewValue)">{{pinNumbers[3].viewValue}}</button>
                    <button type="button" class ="btn btn-outline-light btnPin" (click)="fillPIN(pinNumbers[4].value, pinNumbers[4].viewValue)">{{pinNumbers[4].viewValue}}</button>
                    <button type="button" class ="btn btn-outline-light btnPin" (click)="fillPIN(pinNumbers[5].value, pinNumbers[5].viewValue)">{{pinNumbers[5].viewValue}}</button>
                    <button type="button" class ="btn btn-outline-light btnPin" (click)="fillPIN(pinNumbers[6].value, pinNumbers[6].viewValue)">{{pinNumbers[6].viewValue}}</button>
                    <button type="button" class ="btn btn-outline-light btnPin" (click)="fillPIN(pinNumbers[7].value, pinNumbers[7].viewValue)">{{pinNumbers[7].viewValue}}</button>
                    <button type="button" class ="btn btn-outline-light btnPin" (click)="fillPIN(pinNumbers[8].value, pinNumbers[8].viewValue)">{{pinNumbers[8].viewValue}}</button>
                    <button type="button" class ="btn btn-outline-light btnPin" (click)="fillPIN(pinNumbers[9].value, pinNumbers[9].viewValue)">{{pinNumbers[9].viewValue}}</button>
                    <button type="button" class ="btn btn-outline-light btnPin" (click)="deleteLastDigit()">R</button>

                    <br><br>
                  </div>
                </div>
              </div>

              <br><br>

              <div class="col-lg-6 col-sm-6 align-self-end btnSubmit">
                <button id="searchButton" class="btn btn-primary btn-sm" (click)="search()">
                  {{'search.btn.search' | translate}}
                </button>
                <button routerLink="/resercher" ngcontent-c17="" class="btn btn-secondary btn-sm">{{'button.back' | translate}}</button>
              </div>


            </div>
          </form>

        </div>
      </div>
    </div>
  </div>

</div>
