@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';

table {
  width: 100%;
}

.orange-boxed-container {
  margin-top: 10px;
  margin-bottom: 10px;
  max-width: 424px;
}

.orange-boxed-container-table {
  margin-top: 10px;
  margin-bottom: 10px;
  max-width: 90%;
}

.orange-boxed-container .card{
  border-color: lightgray;
  border-width: 1px;
  border-radius: 2px;
}

.col-lg-6 .btn{
  width: 200px;
  height: 30px;
  margin-bottom: 10px;
}

.btnPin{
  width: 27px !important;
  font-size: 12px !important;
}

#r {
  background-color: #ddd;;
}

#r:hover{
  background-color:black;
}

.btn-group-sm .btn{
  color: gray;
  width: 100px;
}

.btnSubmit {
   margin-left: 16%
 }

.card-body{
  padding-left: 30px;
  padding-right: 30px;
}

.card-title{
  margin-bottom: 30px;
}

.form-control{
  width: 300px;
  background-color: lightgray;
  margin-bottom: 10px;
  font-size: 13px;
}
::placeholder{
  font-weight: normal;
}

.mandatory-field::placeholder{
  font-weight: bold;
  color: #282929;
}

.orange-boxed-container label.mandatory-field{
  color: #282929;
  font-weight: bold;
}

.orange-boxed-container label{
  margin-bottom: 0;
  font-size: smaller;
  color: gray;
  font-weight: normal;
}


.editBtn {
  height: 1.7em !important;
}

.svg-inline--fa.fa-w-18 {
  width: 2.125em !important;
}

.svg-inline--fa.fa-w-16 {
  width: 2.125em !important;
}

.not-allowed:hover     { color: #ff6600 !important; }
.editBtn:hover     { color: #ff6600 !important; }

.highlight {
  background: #F6F0F3; /* green */
}

span {
  font-weight: bold;
  font-size: 12pt;
}

.mat-select-value {
  display: table-cell;
  max-width: 0;
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
