<div class="container orange-boxed-container">

  <div class="row">
    <div class="col-lg-12">
      <h2 class="card-title">
        <app-orange-title title="{{'defaultWallet.title' | translate}}" iconClassName="fas fa-home"></app-orange-title>
      </h2>
    </div>
  </div>

  <form [formGroup]="defaultForm">

    <!-- Second Column controls-->
    <div class="row">
      <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">

        <div class="form-group">
          <label class="mandatory-field" for="phone">{{'cashin.field.phone' | translate}}</label><label class="obligatory">{{'obligatory' | translate}}</label>
          <input type="text" [maxLength]="10" class="form-control mandatory-field" id="phone" formControlName="phone"
                 value="{{phone}}" (change)="searchClient()">
          <app-validation-errors [control]="getFormControl('phone')"></app-validation-errors>

          <label class="mandatory-field">{{'defaultWallet.field.idType' | translate}}</label><label class="obligatory">{{'obligatory' | translate}}</label>
          <select class="form-control" id="idType" formControlName="idType" (change)="searchClient()">
            <option *ngFor="let item of identityTypes" value="{{item.identificationTypeID}}" >
              {{item.name}}
            </option>
          </select>
          <app-validation-errors [control]="getFormControl('idType')"></app-validation-errors>

          <label class="mandatory-field" >{{'defaultWallet.field.identificationNumber' | translate}}</label><label class="obligatory">{{'obligatory' | translate}}</label>
          <input type="text" class="form-control mandatory-field" value="{{idNumber}}"
                 (change)="searchClient()" formControlName="idNumber">
          <app-validation-errors [control]="getFormControl('idNumber')"></app-validation-errors>
        </div>

      </div>

      <!-- Second Column controls-->
      <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
        <label class="mandatory-field">{{'defaultWallet.field.name' | translate}}</label>
        <input type="text" class="form-control mandatory-field" disabled="true" value="{{name}}">

        <label class="mandatory-field">{{'defaultWallet.field.surname' | translate}}</label>
        <input type="text" class="form-control mandatory-field" disabled="true" value="{{surname}}">

        <label class="mandatory-field">{{'defaultWallet.field.nationality' | translate}}</label>
        <input type="text" class="form-control mandatory-field" disabled="true" value="{{nationality}}">

        <label class="mandatory-field">{{'defaultWallet.field.expirationDate' | translate}}</label>
        <input type="text" class="form-control mandatory-field" disabled="true" value="{{expDate| date:'dd/MM/yyyy'}}">
        <br>
      </div>
    </div>

  </form>

    <!-- Buttons -->
    <div class="row" style="margin-left: 38%">
      <div class="col-lg-6 col-md-6 col-sm-12">
      </div>
      <div class="col-lg-6 col-md-6 col-sm-12">
        <button [disabled]="orderClosed || !clientExist" class="btn btn-primary btn-sm btnSubmit" (click)="validate()">{{'defaultWallet.button.validate' | translate}}</button>
        <button class="btn btn-secondary btn-sm btnSubmit" (click)="resetForm()">{{'cashout.btn.reset' | translate}}</button>
        <button class="btn btn-secondary btn-sm btnSubmit"(click)="back()">{{'button.back' | translate}}</button>

        <br>
      </div>
    </div>




</div>

<app-otp-validation [orderId]="orderId" [msisdn]="client.msisdn" [walletId]="wallet.walletID" [refId]="refId" (closed)="closeOtpModal()" *ngIf="showOtpModal"></app-otp-validation>
