<div class="container orange-boxed-container">

  <div class="table-responsive">
    <div class="card-body">

      <div class="row">
        <div class="col-lg-12">
          <h2 class="card-title">
            <app-orange-title title="{{'listTransations.menu.client' | translate}}" iconClassName="fas fa-search"></app-orange-title>
          </h2>
        </div>
      </div>

      <div class="example-table-container">
        <input matInput (keyup)="applyFilter($event.target.value)" placeholder="{{'listTransations.filter' | translate}}">

        <table mat-table [dataSource]="dataSource" matSort id="listOrderTable">

          <ng-container matColumnDef="transactionID">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> <span>{{'listTransations.transactionID' | translate}}</span> </th>
            <td mat-cell *matCellDef="let element; let i = index;"  [ngClass]="{'highlight': i%2 == 1}"> {{element.transactionID}} </td>
          </ng-container>

          <ng-container matColumnDef="amount">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> <span>{{'listTransations.amount' | translate}}</span> </th>
            <td mat-cell *matCellDef="let element; let i = index;"  [ngClass]="{'highlight': i%2 == 1}"> {{element.amount}} </td>
          </ng-container>

          <ng-container matColumnDef="serviceType">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> <span>{{'listTransations.serviceType' | translate}}</span> </th>
            <td mat-cell *matCellDef="let element; let i = index;"  [ngClass]="{'highlight': i%2 == 1}"> {{element.serviceType}} </td>
          </ng-container>

          <ng-container matColumnDef="mobileNumber">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> <span>{{'listTransations.mobileNumber' | translate}}</span> </th>
            <td mat-cell *matCellDef="let element; let i = index;"  [ngClass]="{'highlight': i%2 == 1}"> {{element.mobileNumber}} </td>
          </ng-container>

          <ng-container matColumnDef="entryType">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> <span>{{'listTransations.entryType' | translate}}</span> </th>
            <td mat-cell *matCellDef="let element; let i = index;"  [ngClass]="{'highlight': i%2 == 1}"> {{element.entryType}} </td>
          </ng-container>

          <ng-container matColumnDef="statusTransaction">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> <span>{{'listTransations.statusTransaction' | translate}}</span> </th>
            <td mat-cell *matCellDef="let element; let i = index;"  [ngClass]="{'highlight': i%2 == 1}"> {{element.statusTransaction}} </td>
          </ng-container>

          <ng-container matColumnDef="actions">
            <th mat-header-cell *matHeaderCellDef> <span>{{'listTransations.title.actions' | translate}}</span> </th>
            <td mat-cell *matCellDef="let element; let i = index;"  [ngClass]="{'highlight': i%2 == 1}">
              <a (click)="edit(element.transactionID, element.amount, element.serviceType, element.mobileNumber, element.entryType, element.statusTransaction)" title="Éditer"><i class="fas fa-edit editBtn"></i></a>
            </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

        </table>

        <mat-paginator class="pagination" [pageSize]="10" [pageSizeOptions]="[10, 15, 20]" showFirstLastButtons></mat-paginator>
        <button routerLink="/resercher" ngcontent-c17="" class="btn btn-primary btn-sm">{{'button.back' | translate}}</button>
      </div>
    </div>
  </div>
</div>
