<div class="container orange-boxed-container">

  <div class="row">
    <div class="col-lg-12">
      <h2 class="card-title">
        <app-orange-title title="{{'customer.title.detail' | translate}}" iconClassName="fas fa-wallet"></app-orange-title>
      </h2>
    </div>
  </div>

  <form [formGroup]="subscriptionForm">
    <div class="row">
      <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">

        <!-- First Column controls-->
        <div class="form-group">

          <label class="mandatory-field">{{'customer.field.phone' | translate}}</label>
          <input type="text" class="form-control mandatory-field" formControlName="phoneNumber" value="{{phoneNumber}}">

          <label class="mandatory-field">{{'customer.field.idType' | translate}}</label>
          <input type="text" class="form-control mandatory-field" value="{{idType}}" formControlName="idType">

          <label class="mandatory-field">{{'customer.field.numDocument' | translate}}</label>
          <input type="text" class="form-control mandatory-field" value="{{id}}" formControlName="id">

          <label class="mandatory-field">{{'customer.field.name' | translate}}</label>
          <input type="text" class="form-control mandatory-field" formControlName="name"value="{{name}}">

          <label class="mandatory-field">{{'customer.field.prename' | translate}}</label>
          <input type="text" class="form-control mandatory-field" formControlName="surname" value="{{surname}}">

          <label class="mandatory-field">{{'customer.field.enrolWalet' | translate}} <input id="enrolStatus" type="text" class="form-control mandatory-field" value="{{enrolStatus}}" disabled></label>


          <label class="mandatory-field">{{'customer.field.accountStatus' | translate}} <input id="accountStatus" type="text" class="form-control" value="{{accountStatus}}" disabled></label>

          <label class="mandatory-field">{{'customer.field.address' | translate}} <textarea class="form-control mandatory-field" id="address" disabled>{{post}}</textarea></label>

        </div>
      </div>

      <!-- Second Column controls-->
      <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">

        <label class="mandatory-field">{{'customer.field.profession' | translate}}</label>
        <input type="text" class="form-control mandatory-field" formControlName="profession" value="{{profession}}">

        <label class="mandatory-field">{{'customer.field.nationality' | translate}}</label>
        <input type="text" class="form-control mandatory-field" formControlName="nationality" value="{{nationality}}">

        <label class="mandatory-field">{{'customer.field.gender' | translate}}</label>
        <input type="text" class="form-control mandatory-field" formControlName="gender" value="{{gender}}">

        <label class="mandatory-field">{{'customer.field.date' | translate}}</label>
        <input type="text" class="form-control mandatory-field" formControlName="birthDate" value="{{bDate | date:'MM/dd/yyyy'}}">

        <label class="mandatory-field" >{{'customer.field.numRib' | translate}} <input id="numRib" type="text" class="form-control mandatory-field" value="{{numRib}}" disabled></label>

        <label class="mandatory-field"> {{'customer.field.accountLevel' | translate}}</label>
        <input type="text" class="form-control mandatory-field" formControlName="accountLevel" value="{{accountLevel}}">

        <label class="mandatory-field"> {{'customer.field.email' | translate}}</label>
        <input type="email" class="form-control" id="email" value="{{email}}" formControlName="email">




      </div>

    </div>

    <!-- Buttons -->
    <div class="row">
      <div class="col-lg-6 col-md-6 col-sm-12">
      </div>
      <div class="col-lg-6 col-md-6 col-sm-12">
        <button (click)="backbtn()" ngcontent-c17="" class="btn btn-primary btn-sm">{{'button.back' | translate}}</button>
      </div>
    </div>

  </form>

</div>
