.orange-boxed-container {
  margin-top: 10px;
  margin-bottom: 10px;
  max-width: 800px;
  border-style: solid;
  border-radius: 3px;
  border-width: 1px;
  border-color: lightgray;
  padding: 20px;
}

.orange-boxed-container label{
  margin-bottom: 0;
  color: gray;
  font-weight: normal;
}

.backgrounded-row{
  padding: 5px;
  border-color: white;
  border-width: 5px;
  border-style: solid;
  background-color: #50be87;
}

.backgrounded-col{
  padding: 5px;
  border-color: white;
  border-style: solid;
  border-width: 5px;
  background-color: #ffb4e6;
}

.orange-boxed-container .card{
  border-color: lightgray;
  border-width: 1px;
  border-radius: 2px;
}

.orange-boxed-container .btn{
  width: 100px;
  height: 30px;
  margin-bottom: 10px;
  float:right;
  margin-right: 70px;
}

.card-body{
  padding-left: 30px;
  padding-right: 30px;
}

.card-title{
  margin-bottom: 30px;
}

.form-control{
  width: 300px;
  background-color: lightgray;
  margin-bottom: 10px;
  font-size: 13px;
}

::placeholder{
  font-weight: normal;
}

input:disabled::-webkit-input-placeholder { /* WebKit browsers */
  color: lightgray;
}

input:disabled:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
  color: lightgray;
}

input:disabled::-moz-placeholder { /* Mozilla Firefox 19+ */
  color: lightgray;
}

input:disabled:-ms-input-placeholder { /* Internet Explorer 10+ */
  color: lightgray;
}

input:disabled {
  background-color: whitesmoke;
}

select:disabled {
  background-color: whitesmoke;
}

textarea:disabled{
  background-color: whitesmoke;
}

button:disabled{
  background-color: whitesmoke;
  color: lightgray;
}

.mandatory-field::placeholder{
  color: #282929;
}

.orange-boxed-container label.mandatory-field{
   color: #282929;
   font-weight: 700;
   display: inline-block;

 }

.orange-warning{
  color: darkorange;
  font-size: small;
  margin-top: -10px;
  margin-bottom: 10px;
}
