@import "../node_modules/@angular/material/prebuilt-themes/deeppurple-amber.css";

.icons{
  font-size:40px;
  color:darkorange;
  margin-left: 30px;
  margin-right: 30px;
}

@media screen and (max-width: 767px){
  .iconsMobile {
    font-size:20px !important;
  }
}

