<!--suppress HtmlFormInputWithoutLabel -->
<div class="container orange-boxed-container">

  <div class="row">
    <div class="col">
      <h2 class="card-title">
        <app-orange-title title="{{'new_subscription.title2Step2' | translate}}" iconClassName="fas fa-file-import">aaa</app-orange-title>
      </h2>
    </div>
  </div>

  <form  *ngIf=formCharge [formGroup]="documentationForm">

    <div class="row">
      <div class="col-lg-10 col-md-10 col-sm-10">

        <div class="form-group">
          <label class="mandatory-field" for="idObverseDoc">{{'new_subscription.field.docObserve' | translate}}</label><label *ngIf="(updLevel!==LEVELN3.toLowerCase() && updLevel!==LEVELN3P.toLowerCase()) || (this.upgradeOrder.client.accountLevel!=null && this.upgradeOrder.client.accountLevel.toLowerCase()!==LEVELN2.toLowerCase() && this.upgradeOrder.client.accountLevel.toLowerCase()!==LEVELN2P.toLowerCase())" class="obligatory">{{'obligatory' | translate}}</label>
          <div *ngIf="(updLevel!==LEVELN3.toLowerCase() && updLevel!==LEVELN3P.toLowerCase()) || (this.upgradeOrder.client.accountLevel!=null && this.upgradeOrder.client.accountLevel.toLowerCase()!==LEVELN2.toLowerCase() && this.upgradeOrder.client.accountLevel.toLowerCase()!==LEVELN2P.toLowerCase())" class="input-group mb-1">
            <input type="file" class="hiddenFileInput" id="idObverseDoc" formControlName="idObverseDocHidden"
                   (change)="attachFile2Wallet('idObverseDoc', $event)" #idObverseDoc>
            <input type="text" class="form-control mandatory-field" formControlName="idObverseDoc" readonly="true">
            <span class="input-group-append" (click)="idObverseDoc.click()">
              <i class="icons fas fa-file-upload" title="Upload"></i>
            </span>
            <span class="input-group-append" (click)="resetFile('idObverseDoc')">
              <i class="icons fas fa-trash-alt" title="Delete"></i>
            </span>
          </div>
          <div *ngIf="(updLevel=== LEVELN3.toLowerCase() || updLevel===LEVELN3P.toLowerCase())  && (this.upgradeOrder.client.accountLevel!=null && (this.upgradeOrder.client.accountLevel.toLowerCase()===LEVELN2.toLowerCase() || this.upgradeOrder.client.accountLevel.toLowerCase()===LEVELN2P.toLowerCase()))" class="input-group mb-1">
            <input type="file" class="hiddenFileInput" id="idObverseDoc" formControlName="idObverseDocHidden"
                   (change)="attachFile2Wallet('idObverseDoc', $event)">
            <input type="text" class="form-control mandatory-field" formControlName="idObverseDoc" readonly="true">
            <span class="input-group-append">
              <i class="icons fas fa-file-upload" title="Upload" [ngClass]="isN3Level"></i>
            </span>
            <span class="input-group-append">
              <i class="icons fas fa-trash-alt" title="Delete" [ngClass]="isN3Level"></i>
            </span>
          </div>
        </div>
        <app-validation-errors [control]="getFormControl('idObverseDoc')"></app-validation-errors>

        <div class="form-group">
          <label class="mandatory-field" for="idReverseDoc">{{'new_subscription.field.docReverse' | translate}}</label><label *ngIf="(updLevel!==LEVELN3.toLowerCase() && updLevel!==LEVELN3P.toLowerCase()) || (this.upgradeOrder.client.accountLevel!=null && this.upgradeOrder.client.accountLevel.toLowerCase()!== LEVELN2.toLowerCase() && this.upgradeOrder.client.accountLevel.toLowerCase()!==LEVELN2P.toLowerCase())" class="obligatory">{{'obligatory' | translate}}</label>
          <div *ngIf="(updLevel!==LEVELN3.toLowerCase()  && updLevel!==LEVELN3P.toLowerCase()) || (this.upgradeOrder.client.accountLevel!=null && this.upgradeOrder.client.accountLevel.toLowerCase()!==LEVELN2.toLowerCase() && this.upgradeOrder.client.accountLevel.toLowerCase()!==LEVELN2P.toLowerCase())" class="input-group mb-1">
            <input type="file" class="hiddenFileInput" id="idReverseDoc" formControlName="idReverseDocHidden"
                   (change)="attachFile2Wallet('idReverseDoc', $event)" #idReverseDoc>
            <input type="text" class="form-control mandatory-field" formControlName="idReverseDoc" readonly="true">
            <span class="input-group-append" (click)="idReverseDoc.click()">
              <i class="icons fas fa-file-upload" title="Upload"></i>
            </span>
            <span class="input-group-append" (click)="resetFile('idReverseDoc')">
              <i class="icons fas fa-trash-alt" title="Delete"></i>
            </span>
          </div>
          <div *ngIf="(updLevel===LEVELN3.toLowerCase() || updLevel===LEVELN3P.toLowerCase()) && (this.upgradeOrder.client.accountLevel!=null && (this.upgradeOrder.client.accountLevel.toLowerCase()===LEVELN2.toLowerCase()|| this.upgradeOrder.client.accountLevel.toLowerCase()===LEVELN2P.toLowerCase()))" class="input-group mb-1">
            <input type="file" class="hiddenFileInput" id="idReverseDoc" formControlName="idReverseDocHidden"
                   (change)="attachFile2Wallet('idReverseDoc', $event)">
            <input type="text" class="form-control mandatory-field" formControlName="idReverseDoc" readonly="true">
            <span class="input-group-append">
              <i class="icons fas fa-file-upload" title="Upload" [ngClass]="isN3Level"></i>
            </span>
            <span class="input-group-append">
              <i class="icons fas fa-trash-alt" title="Delete" [ngClass]="isN3Level"></i>
            </span>
          </div>
        </div>
        <app-validation-errors [control]="getFormControl('idReverseDoc')"></app-validation-errors>

        <div class="form-group" *ngIf="updLevel===LEVELN3.toLowerCase() || updLevel===LEVELN3P.toLowerCase()">
          <label class="mandatory-field" for="addressDoc">{{'new_subscription.field.docJustification' | translate}}</label><label class="obligatory">{{'obligatory' | translate}}</label>
          <div class="input-group mb-1">
            <input type="file" class="hiddenFileInput" id="addressDoc" formControlName="addressDocHidden"
                   (change)="attachFile2Wallet('addressDoc', $event)" #addressDoc>
            <input type="text" class="form-control mandatory-field" formControlName="addressDoc" readonly="true">
            <span class="input-group-append" (click)="addressDoc.click()">
              <i class="icons fas fa-file-upload" title="Upload"></i>
            </span>
            <span class="input-group-append" (click)="resetFile('addressDoc')">
              <i class="icons fas fa-trash-alt" title="Delete"></i>
            </span>
          </div>
        </div>
        <app-validation-errors [control]="getFormControl('addressDoc')"></app-validation-errors>

        <div class="form-group" *ngIf="(this.upgradeOrder.client.accountLevel!=null && this.upgradeOrder.client.accountLevel.toLowerCase()!==LEVELN2.toLowerCase() && this.upgradeOrder.client.accountLevel.toLowerCase()!==LEVELN2P.toLowerCase())">
          <label class="mandatory-field" for="contractDoc">{{'new_subscription.field.boxSigned' | translate}}</label><label class="obligatory">{{'obligatory' | translate}}</label>
          <div class="input-group mb-1">
            <input type="file" class="hiddenFileInput" id="contractDoc" formControlName="contractDocHidden"
                   (change)="attachFile2Wallet('contractDoc', $event)" #contractDoc>
            <input type="text" class="form-control mandatory-field" formControlName="contractDoc" readonly="true">
            <span class="input-group-append" (click)="contractDoc.click()">
              <i class="icons fas fa-file-upload" title="Upload"></i>
            </span>
            <span class="input-group-append" (click)="resetFile('contractDoc')">
              <i class="icons fas fa-trash-alt" title="Delete"></i>
            </span>
          </div>
        </div>
        <app-validation-errors [control]="getFormControl('contractDoc')"></app-validation-errors>

        <div class="form-group">
          <label for="otherDoc">{{'new_subscription.field.docOther' | translate}}</label>
          <div *ngIf="(updLevel!==LEVELN3.toLowerCase() && updLevel!==LEVELN3P.toLowerCase()) || (this.upgradeOrder.client.accountLevel!=null && this.upgradeOrder.client.accountLevel.toLowerCase()!==LEVELN2.toLowerCase() && this.upgradeOrder.client.accountLevel.toLowerCase()!==LEVELN2P.toLowerCase())" class="input-group mb-1">
            <input type="file" class="hiddenFileInput" id="otherDoc" formControlName="otherDocHidden"
                   (change)="attachFile2Wallet('otherDoc', $event)" #otherDoc>
            <input type="text" class="form-control mandatory-field" formControlName="otherDoc" readonly="true">
            <span class="input-group-append" (click)="otherDoc.click()">
              <i class="icons fas fa-file-upload" title="Upload"></i>
            </span>
            <span class="input-group-append" (click)="resetFile('otherDoc')">
              <i class="icons fas fa-trash-alt" title="Delete"></i>
            </span>
          </div>
          <div *ngIf="(updLevel===LEVELN3.toLowerCase() || updLevel===LEVELN3P.toLowerCase()) && (this.upgradeOrder.client.accountLevel!=null && (this.upgradeOrder.client.accountLevel.toLowerCase()===LEVELN2.toLowerCase() || this.upgradeOrder.client.accountLevel.toLowerCase()===LEVELN2P.toLowerCase()))" class="input-group mb-1">
            <input type="file" class="hiddenFileInput" id="otherDoc" formControlName="otherDocHidden"
                   (change)="attachFile2Wallet('otherDoc', $event)">
            <input type="text" class="form-control mandatory-field" formControlName="otherDoc" readonly="true">
            <span class="input-group-append">
              <i class="icons fas fa-file-upload" title="Upload" [ngClass]="isN3Level"></i>
            </span>
            <span class="input-group-append">
              <i class="icons fas fa-trash-alt" title="Delete" [ngClass]="isN3Level"></i>
            </span>
          </div>
        </div>

      </div>
    </div>

    <div class="row separate-row" *ngIf="(this.upgradeOrder.client.accountLevel!=null && this.upgradeOrder.client.accountLevel.toLowerCase()!==LEVELN2.toLowerCase() && this.upgradeOrder.client.accountLevel.toLowerCase()!==LEVELN2P.toLowerCase())">
      <div class="col-lg-2 col-md-2">
      </div>
      <div class="col-lg-5 col-md-5 col-sm-12 centerButtons">
        <div *ngIf="!orderFrozen">
          <button type="button" [ngClass]="!contractPreviewed ? 'btn btn-primary btn-sm': 'btn btn-secondary btn-sm'" (click)="previewContract()">
            {{'new_subscription.field.boton1' | translate}}
          </button>
        </div>
        <div *ngIf="orderFrozen">
          <button class="btn btn-secondary btn-sm" (click)="unfreezeOrder()"> {{'new_subscription.field.modify' | translate}}</button>
        </div>
      </div>
      <div class="col-lg-5 col-md-5 col-sm-12 centerButtons">
        <button class="btn btn-primary btn-sm"
                [disabled]="!contractPreviewed || ordrId==null || orderFrozen" (click)="generateContract()">
          {{'new_subscription.field.boton2' | translate}}
        </button>
      </div>
    </div>

    <div class="separate-row"*ngIf="(this.upgradeOrder.client.accountLevel!=null && (this.upgradeOrder.client.accountLevel.toLowerCase()===LEVELN2.toLowerCase() || this.upgradeOrder.client.accountLevel.toLowerCase()===LEVELN2P.toLowerCase()))">
    </div>
    <div class="row" *ngIf="(this.upgradeOrder.client.accountLevel!=null)">
      <div class="col-lg-2 col-md-2">
      </div>
      <div class="col-lg-5 col-md-5 col-sm-12 centerButtons">
        <button class="btn btn-secondary btn-sm" disabled (click)="saveOrder(true, false)">{{'new_subscription.field.boton11' | translate}}</button>
        <button class="btn btn-secondary btn-sm" [disabled]="!documentsSave" (click)="gotoPrevious()">{{'new_subscription.field.Previus' | translate}}</button>
      </div>
      <div class="col-lg-5 col-md-5 col-sm-12 centerButtons" *ngIf="(this.upgradeOrder.client.accountLevel!=null && this.upgradeOrder.client.accountLevel.toLowerCase()!==LEVELN2.toLowerCase() && this.upgradeOrder.client.accountLevel.toLowerCase()!==LEVELN2P.toLowerCase())">
        <button class="btn btn-primary btn-sm" [disabled]="!contractUploaded || !documentsSave" (click)="sendContract()">
          {{'new_subscription.field.boton8' | translate}}
        </button>
        <button class="btn btn-danger btn-sm" (click)="cancelOrder()">{{'new_subscription.field.cancel' | translate}}</button>
      </div>
      <div class="col-lg-5 col-md-5 col-sm-12 centerButtons" *ngIf="(this.upgradeOrder.client.accountLevel!=null && this.upgradeOrder.client.accountLevel.toLowerCase()!==LEVELN1.toLowerCase() && this.upgradeOrder.client.accountLevel.toLowerCase()!==LEVELN1P.toLowerCase())">
        <button class="btn btn-primary btn-sm" [disabled]="!this.documentationForm.valid || !documentsSave" (click)="sendContract()">
          {{'new_subscription.field.boton8' | translate}}
        </button>
        <button class="btn btn-danger btn-sm" (click)="cancelOrder()">{{'new_subscription.field.cancel' | translate}}</button>
      </div>
    </div>
  </form>

</div>

