
.btn-group-sm .btn{
  color: gray;
}

.r {
  background-color: #ddd;;
  width: 132px !important;
  font-size: 12px !important;
}

.r:hover{
  background-color:black;
}

.btnPin{
  width: 33px !important;
  height: 33px !important;
  font-size: 12px !important;
}

.col-lg-6 .btn{
  width: 200px;
  height: 30px;
  margin-bottom: 10px;
}

