<div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
  <div class="btn-group-sm" role="group" aria-label="First group">
    <button id="btnPin0" type="button" class ="btn btn-outline-light btnPin" (click)="fillPIN('0')">{{pinNumbers[0].viewValue}}</button>
    <button id="btnPin1" type="button" class ="btn btn-outline-light btnPin" (click)="fillPIN('1')">{{pinNumbers[1].viewValue}}</button>
    <button id="btnPin2" type="button" class ="btn btn-outline-light btnPin" (click)="fillPIN('2')">{{pinNumbers[2].viewValue}}</button>
    <button id="btnPin3" type="button" class ="btn btn-outline-light btnPin" (click)="fillPIN('3')">{{pinNumbers[3].viewValue}}</button>

</div>
</div>

<div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
  <div class="btn-group-sm" role="group" aria-label="Second group">
    <button id="btnPin4" type="button" class ="btn btn-outline-light btnPin" (click)="fillPIN('4')">{{pinNumbers[4].viewValue}}</button>
    <button id="btnPin5" type="button" class ="btn btn-outline-light btnPin" (click)="fillPIN('5')">{{pinNumbers[5].viewValue}}</button>
    <button id="btnPin6" type="button" class ="btn btn-outline-light btnPin" (click)="fillPIN('6')">{{pinNumbers[6].viewValue}}</button>
    <button id="btnPin7" type="button" class ="btn btn-outline-light btnPin" (click)="fillPIN('7')">{{pinNumbers[7].viewValue}}</button>
  </div>
</div>
<div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
  <div class="btn-group-sm" role="group" aria-label="Second group">

    <button id="btnPin8" type="button" class ="btn btn-outline-light btnPin" (click)="fillPIN('8')">{{pinNumbers[8].viewValue}}</button>
    <button id="btnPin9" type="button" class ="btn btn-outline-light btnPin" (click)="fillPIN('9')">{{pinNumbers[9].viewValue}}</button>
    <button id="btnPin10" type="button" class ="btn btn-outline-light btnPin" (click)="fillPIN('a')">{{pinNumbers[10].viewValue}}</button>
    <button id="btnPin11" type="button" class ="btn btn-outline-light btnPin" (click)="fillPIN('b')">{{pinNumbers[11].viewValue}}</button>


  </div>
</div>

<div class="btn-toolbar mb-3" role="toolbar" aria-label="Toolbar with button groups">
  <div class="btn-group-sm" role="group" aria-label="Second group">
    <button id="btnPinDelete" type="button" class ="btn btn-outline-light r" (click)="deleteLastDigit()">{{'button.delete' | translate}}</button>
  </div>
</div>
